@charset "UTF-8";
@import url(../fonts/fonts.css);
@import url(../fonts/ico.css);
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
html, body, h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

html {
  font-family: "Proxima Nova", Arial;
  height: 100%; }

body {
  height: 100%;
  font-size: 14px;
  font-weight: normal;
  background-color: #f9fafa;
  color: #3a3b3c;
  min-width: 320px; }

a {
  text-decoration: none;
  color: #3a3b3c;
  box-sizing: border-box; }

ul {
  margin: 0; }

.cf:before, .cf:after {
  content: "";
  display: table; }
.cf:after {
  clear: both; }

div {
  box-sizing: border-box; }

h1 {
  font-size: 42px;
  text-transform: capitalize;
  font-weight: 200;
  letter-spacing: 1.5px; }

h2 {
  font-size: 34px;
  font-weight: 600; }

.subtitle {
  font-size: 19px;
  line-height: 1.6; }

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 32px; }

  h2 {
    font-size: 30px;
    margin-bottom: 10px; } }
@media only screen and (max-width: 780px) {
  .subtitle {
    font-size: 18px;
    line-height: 1.4; } }
input, textarea {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  box-sizing: border-box; }

input {
  border: none;
  background-color: transparent;
  height: 38px;
  font-weight: normal; }
  input::-webkit-input-placeholder {
    color: #2d3b43;
    opacity: 0.8; }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset; }
  input.white {
    background-color: white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    padding: 0 20px;
    color: #646669; }
    input.white::placeholder {
      color: #646669; }

form button {
  background: #399cf9;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  color: #ffffff;
  font-size: 16px;
  padding: 4px 25px 0 25px;
  height: 38px; }

.button-blue {
  background: #399cf9;
  border-radius: 2px;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 25px 13px; }

.gd-button-solid {
  font-size: 16px;
  font-weight: normal;
  color: #3093f9;
  border: 2px solid #3093f9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 13px 30px 11px 25px;
  display: inline-block;
  text-align: center; }

section {
  width: 100%;
  position: relative; }
  section.gray {
    background-color: #f6f7f7; }
  section block {
    display: block;
    max-width: 1110px;
    margin: 0 auto 0 auto; }
    section block:before, section block:after {
      content: "";
      display: table; }
    section block:after {
      clear: both; }

section.header.back block h1, section.header.back block div.back-link {
  display: inline-block;
  vertical-align: middle; }
section.header.back block .back-link {
  font-size: 32px;
  color: #399cf9;
  font-weight: 200; }
  section.header.back block .back-link a {
    color: #399cf9;
    text-decoration: none; }
  section.header.back block .back-link span {
    margin: 0 10px 0 5px; }
section.header block {
  width: 100%; }
  section.header block .container {
    text-align: center;
    vertical-align: middle;
    padding-top: 72px;
    padding-bottom: 10px; }
  section.header block h1 {
    text-align: center;
    color: #383a3b;
    font-size: 40px;
    letter-spacing: -1.5px;
    font-weight: 600; }
  section.header block .l2 {
    margin: 15px 0 0 0;
    font-weight: 200;
    text-align: center;
    color: #3e4346;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.3px; }

section.sub-nav block {
  font-size: 16px;
  padding: 30px 0 30px 0; }
  section.sub-nav block span {
    opacity: 0.5;
    margin: 0 30px; }
  section.sub-nav block a {
    border-bottom: 1px dashed;
    line-height: 30px; }
  section.sub-nav block .container {
    text-align: center; }

@media only screen and (max-width: 780px) {
  section.sub-nav block span {
    margin: 0 10px; }
  section.sub-nav block .container {
    text-align: left; } }
.container-800 {
  max-width: 800px; }

.snapshot {
  width: 100%; }

@media only screen and (max-width: 1240px) {
  section block, nav block {
    margin-left: 20px !important;
    margin-right: 20px !important;
    width: calc(100% - 40px) !important; }

  section.header block {
    margin-left: 20px !important;
    margin-right: 20px !important;
    width: calc(100% - 40px) !important; }

  img.can-shrink {
    width: 100%; } }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

nav block.default {
  display: block;
  max-width: 1110px;
  margin: 0 auto 0 auto; }
  nav block.default .logo {
    margin: 24px 0 0 0;
    float: left;
    width: 131px;
    height: 51px; }
  nav block.default .menu {
    margin: 15px 0 0 49px;
    float: left;
    font-size: 16px;
    line-height: 72px; }
    nav block.default .menu a {
      margin: 0 40px 0 0; }
  nav block.default .actions {
    margin: 30px 0 0 0;
    float: right; }
    nav block.default .actions a {
      width: 80px;
      height: 36px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      display: inline-block;
      text-align: center;
      padding: 10px; }
      nav block.default .actions a.login {
        border: 1px solid;
        margin: 0 16px 0 0; }
      nav block.default .actions a.signup {
        background-color: #06c026;
        color: white; }
      nav block.default .actions a.login-enter {
        width: 120px;
        background-color: #06c026;
        color: white; }

nav mobile {
  display: none;
  padding: 28px 20px 0 20px;
  position: relative; }
  nav mobile .gd-logo {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 18px;
    background-image: url("../svg/logo-full.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 110px;
    height: 43px; }
  nav mobile .menu {
    float: left; }
  nav mobile .login {
    float: right; }

#menu-mobile {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; }
  #menu-mobile.hidden {
    display: none; }
  #menu-mobile .top {
    height: 75px;
    position: relative;
    background-color: white; }
    #menu-mobile .top .logo {
      position: absolute;
      left: 50%;
      margin-left: -50px;
      top: 18px;
      background-image: url("../svg/logo-full.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 110px;
      height: 43px; }
    #menu-mobile .top .close {
      float: left; }
      #menu-mobile .top .close img {
        margin: 28px 0 0 20px; }
    #menu-mobile .top .login {
      float: right;
      margin: 28px 20px 0 0; }
  #menu-mobile .main {
    background-color: #212e35;
    height: calc(100% - 75px); }
    #menu-mobile .main .link {
      font-size: 18px;
      height: 58px;
      width: 100%;
      background-color: #212e35;
      padding: 0 0 0 20px;
      color: white;
      line-height: 58px;
      display: block; }
    #menu-mobile .main .separator {
      height: 1px;
      box-sizing: border-box;
      background-color: #1b1b1b;
      width: 100%; }

nav {
  width: 100%;
  height: 95px; }

@media only screen and (max-width: 790px) {
  nav {
    height: 75px; }
    nav mobile {
      display: block; }
    nav block {
      display: none !important; } }
footer {
  height: 260px;
  background-color: #212e35;
  font-size: 15px; }
  footer block {
    display: block;
    max-width: 1110px;
    margin: 0 auto 0 auto; }
  footer .copyright {
    font-size: 12px;
    color: #AFAFAF;
    text-align: right;
    margin: 40px 0 0 0; }
  footer form input {
    width: 250px; }
  footer form .submit {
    width: 80px;
    height: 36px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    display: inline-block;
    text-align: center;
    padding: 10px;
    background-color: #399cf9;
    color: white;
    margin: 0 0 0 15px; }
  footer .c1, footer .c2, footer .c3 {
    float: left; }
  footer .c1 {
    width: 20%;
    text-align: right; }
    footer .c1 img {
      margin: 90px 60px 0 0; }
  footer .c2 {
    width: 45%; }
    footer .c2 .col1, footer .c2 .col2, footer .c2 .col3 {
      width: 33%;
      float: left;
      padding: 70px 0 0 0; }
      footer .c2 .col1 a, footer .c2 .col2 a, footer .c2 .col3 a {
        display: block;
        color: white; }
    footer .c2 .col1 a, footer .c2 .col2 a {
      margin: 0 0 15px 0; }
    footer .c2 .col3 a {
      margin: 0 0 18px 0; }
    footer .c2 .col3 img {
      vertical-align: middle;
      margin: -3px 10px 0 0; }
  footer .c3 {
    width: auto;
    padding: 50px 0 0 0;
    float: right; }
    footer .c3 .msg {
      color: white;
      line-height: 36px;
      padding: 0 0 0 16px;
      font-size: 16px; }
    footer .c3 .mobile-apps {
      margin: 30px 0 0 0; }
      footer .c3 .mobile-apps .mob-ios, footer .c3 .mobile-apps .mob-android {
        height: 40px; }
      footer .c3 .mobile-apps .mob-ios {
        margin: 0 15px 0 0; }

@media only screen and (max-width: 1050px) {
  footer .c1 {
    width: 30%; }
  footer .c2 {
    width: 70%; }
  footer .c3 {
    display: none; } }
@media only screen and (max-width: 700px) {
  footer {
    height: auto; }
    footer .c1 {
      display: none; }
    footer .c2 {
      width: 100%; }
      footer .c2 .col1 {
        width: 50%;
        padding: 30px 40px 0 40px; }
      footer .c2 .col3 {
        width: 50%;
        padding: 30px 40px 0 40px; }
      footer .c2 .col2 {
        width: 50%;
        padding: 30px 40px 0 40px; } }
section.home {
  font-size: 19px;
  background-color: #fff; }
  section.home.gray .separator {
    border-top: 1px solid #d6e0e0; }
  section.home h2 {
    margin: 0 0 45px 0;
    font-weight: bold;
    font-size: 36px; }
  section.home .content {
    line-height: 1.5em; }
  section.home block {
    padding: 70px 0 52px 0;
    display: table;
    border-bottom: 2px solid #f4f4f4; }
  section.home .icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 50px; }
    section.home .icons__item {
      display: inline-block;
      width: 50px;
      position: relative;
      vertical-align: middle;
      margin: 0 23px; }
      section.home .icons__item:last-child:after {
        display: none; }
      section.home .icons__item:after {
        content: '+';
        position: absolute;
        display: inline-block;
        right: -30px;
        top: 0;
        color: #b5babd;
        font-weight: bold;
        font-size: 24px; }
      section.home .icons__item img {
        vertical-align: middle; }
  section.home .learn-more .gd-icon-arrow-long-right {
    width: 14px;
    height: 14px;
    font-size: 14px;
    display: inline-block;
    margin: -1px 0 0 5px;
    vertical-align: middle; }
  section.home .learn-more a {
    border-bottom: 1px solid; }
  section.home .tags {
    font-size: 16px;
    text-align: center;
    margin-top: 30px; }
    section.home .tags .tag {
      display: inline-block;
      -webkit-border-radius: 17px;
      border-radius: 17px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      background-color: white;
      height: 33px;
      line-height: 33px;
      padding: 2px 15px 0 15px;
      margin: 0 4px 15px;
      box-shadow: 0 2px 16px rgba(137, 142, 145, 0.11);
      color: #5a5e61;
      font-size: 15px;
      font-weight: 600; }
  section.home .c-4-left {
    width: 41.5%;
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding-top: 84px; }
  section.home .c-6-right {
    display: table-cell; }
  section.home .c-6-left {
    width: 60%;
    display: table-cell; }
  section.home .c-4-right {
    width: 40%;
    padding: 0 50px 0 0;
    display: table-cell;
    vertical-align: middle; }
  section.home .c-55-left {
    width: 55%;
    float: left; }
  section.home .c-45-right {
    width: 45%;
    float: right; }
  section.home .c-45-left {
    width: 45%;
    float: left; }
  section.home .c-55-right {
    width: 55%;
    float: right; }

@media only screen and (max-width: 780px) {
  section.home block {
    display: block;
    padding: 50px 0 50px 0; }
  section.home h2 {
    font-size: 30px;
    margin-bottom: 10px; }
  section.home .content {
    font-size: 18px;
    line-height: 1.4; }
  section.home .c-4-left, section.home .c-4-right, section.home .c-6-left {
    width: 100%;
    display: block;
    padding: 0 0 0 0; }
  section.home .c-6-right, section.home .c-6-left.mobile {
    padding: 10px 0 0 0; }
  section.home .separator, section.home .tags {
    display: none; }
  section.home .icons__item {
    margin: 0; } }
section.header-main {
  background-color: transparent;
  height: 478px;
  background-repeat: no-repeat;
  background-image: url("../img/home/header_main.jpg");
  background-size: 682px 230px;
  background-position: center bottom;
  text-align: center;
  padding-top: 133px; }
  section.header-main block {
    overflow: auto; }
  section.header-main .messaging {
    font-weight: 300; }
  section.header-main .header-main__h1 {
    color: #383a3b;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    text-transform: none; }
  section.header-main .header-main__subtitle {
    color: #646669;
    font-size: 29px;
    font-weight: 400;
    line-height: 35px;
    margin: 0;
    margin-top: 10px; }
  section.header-main form {
    margin: 49px 0 0 0;
    display: inline-block;
    font-size: 0; }
  section.header-main input {
    width: 385px;
    font-size: 16px;
    vertical-align: top;
    box-shadow: 0 5px 48px 0 rgba(94, 108, 116, 0.08), 0 1px 5px 0 rgba(94, 108, 116, 0.08); }
  section.header-main .submit {
    width: 120px;
    height: 38px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    display: inline-block;
    text-align: center;
    padding: 11px 0 11px;
    background-color: #399cf9;
    color: white;
    margin: 0 0 0 23px;
    font-size: 15px;
    vertical-align: top; }
  section.header-main .free {
    color: white;
    margin: 0px 0 0 10px;
    font-size: 16px;
    letter-spacing: 0.3px;
    text-align: left;
    padding-left: 7px;
    opacity: 0.8;
    color: #383a3b;
    font-size: 14px;
    line-height: 50px; }

@media only screen and (max-width: 780px) {
  section.header-main {
    background-image: none;
    height: auto;
    padding-top: 40px;
    padding-bottom: 20px; }
    section.header-main .header-main__h1 {
      font-size: 30px;
      line-height: 1.2; }
    section.header-main .header-main__subtitle {
      font-size: 24px;
      line-height: 1.2;
      margin-top: 10px; }
    section.header-main form {
      width: 100%;
      max-width: 400px; }
    section.header-main input {
      width: calc(100% - 112px); }
    section.header-main .submit {
      width: 94px;
      margin-left: 15px; }
    section.header-main .free {
      text-align: center; } }
section.clients {
  height: 160px;
  border-bottom: 1px solid #e2e2e2; }
  section.clients block {
    text-align: center;
    overflow: hidden; }
    section.clients block img {
      margin: 54px 0 0 0;
      max-width: 100%;
      height: auto; }

@media only screen and (max-width: 780px) {
  section.clients {
    display: none; } }
.bigScreen {
  background-color: #efefef; }
  .bigScreen__content {
    padding-bottom: 60px;
    padding-top: 60px; }
  .bigScreen__list:before, .bigScreen__list:after {
    content: "";
    display: table; }
  .bigScreen__list:after {
    clear: both; }
  .bigScreen__item {
    max-width: 536px;
    width: 49%;
    background-color: #fff;
    text-align: center;
    padding-top: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 8px 0 #ccc;
    padding-bottom: 50px;
    min-height: 710px;
    float: left; }
    .bigScreen__item:last-child {
      float: right; }
  .bigScreen__img {
    max-width: 100%;
    height: auto; }
  .bigScreen__icon {
    vertical-align: middle; }
  .bigScreen__iconWrap {
    height: 60px;
    line-height: 60px;
    display: inline-block;
    margin-top: 22px; }
  .bigScreen__title {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 32px;
    display: block; }
  .bigScreen__p {
    font-size: 17px;
    line-height: 1.5;
    padding: 0 40px;
    margin: 10px 0 0; }

@media only screen and (max-width: 900px) {
  .bigScreen__item {
    padding-bottom: 40px; } }
@media only screen and (max-width: 780px) {
  .bigScreen__item {
    float: none;
    width: 100%;
    margin: 0 auto 20px;
    height: auto;
    min-height: 0;
    padding-bottom: 30px; }
    .bigScreen__item:last-child {
      float: none; }
  .bigScreen__title {
    margin-bottom: 20px; }
  .bigScreen__p {
    line-height: 1.2;
    padding: 0 15px; } }
.more {
  background: #f2f2f2; }
  .more__content {
    padding-bottom: 50px;
    padding-top: 75px; }
  .more__item {
    max-width: 536px;
    width: 49%;
    float: left;
    text-align: center;
    background-color: #fff;
    padding-bottom: 37px;
    margin-bottom: 30px;
    box-shadow: 0 1px 10px 0 rgba(94, 108, 116, 0.1), 0 9px 24px 0 rgba(94, 108, 116, 0.1); }
    .more__item:nth-child(1) {
      height: 510px; }
    .more__item:nth-child(2) {
      height: 510px; }
    .more__item:nth-child(3) {
      height: 506px; }
    .more__item:nth-child(4) {
      height: 506px; }
    .more__item:nth-child(odd) {
      float: left; }
    .more__item:nth-child(even) {
      float: right; }
    .more__item_buisness {
      text-align: center; }
  .more__img {
    max-width: 100%;
    height: auto; }
  .more__imgFrameWork {
    max-width: 90%;
    height: auto;
    margin-top: 45px; }
  .more__title {
    color: #2d2d2d;
    font-size: 30px;
    font-weight: 600;
    line-height: 28px;
    padding: 43px 20px 0; }
  .more__text {
    opacity: 0.88;
    color: #383a3b;
    font-size: 17px;
    line-height: 24px;
    padding: 27px 30px 0; }
  .more__conList {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: left;
    color: #383a3b;
    font-size: 14px;
    line-height: 23px;
    margin-top: 28px; }
  .more__conItem {
    position: relative;
    padding-left: 30px;
    line-height: 2.1; }
    .more__conItem:before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 21px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -2px;
      transform: translateY(-50%);
      background: url(/site/assets/img/home/con_arrow.png) center no-repeat;
      background-size: 6px 10px; }
  .more__buisness {
    display: inline-block;
    margin-top: 35px;
    height: auto;
    max-width: 90%; }

.moreAlways {
  background: url(/site/assets/img/home/iphone.png) right 11px bottom no-repeat;
  background-size: 276px 313.5px;
  background-color: #7368c7;
  color: #fff;
  text-align: left;
  padding-top: 89px;
  padding-left: 55px;
  height: 372px; }
  .moreAlways__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 27px; }
  .moreAlways__text {
    font-size: 17px;
    line-height: 24px;
    width: 190px;
    margin-top: 23px; }

.moreInteg {
  background: url(/site/assets/img/home/integ.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 92px;
  height: 372px; }
  .moreInteg__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 27px; }
  .moreInteg__text {
    font-size: 17px;
    line-height: 24px;
    margin-top: 21px; }
  .moreInteg__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 44px;
    font-size: 0; }
  .moreInteg__item {
    width: 71px;
    height: 71px;
    background-color: #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px;
    display: inline-block; }
    .moreInteg__item_gmail {
      background-image: url(/site/assets/img/home/gmail.png);
      background-size: 41px 30px; }
    .moreInteg__item_dbox {
      background-image: url(/site/assets/img/home/dbox.png);
      background-size: 44px 43.5px; }
    .moreInteg__item_google {
      background-image: url(/site/assets/img/home/google.png);
      background-size: 44px 37.5px; }
    .moreInteg__item_slack {
      background-image: url(/site/assets/img/home/slack.png);
      background-size: 39.5px 39px; }
    .moreInteg__item_calen {
      background-image: url(/site/assets/img/home/calen.png);
      background-size: 40.5px 39px; }

@media only screen and (max-width: 1000px) {
  .more__conItem {
    background-color: rgba(255, 255, 255, 0.8); }

  .moreAlways {
    background-image: none; }

  .moreInteg__item {
    width: 60px;
    height: 60px;
    margin: 0 4px; } }
@media only screen and (max-width: 780px) {
  .more__content {
    padding-bottom: 20px; }
  .more__item {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 30px;
    height: auto !important; }
    .more__item:nth-child(odd) {
      float: none; }
    .more__item:nth-child(even) {
      float: none; }

  .moreInteg__item {
    width: 45px;
    height: 45px;
    margin: 0 3px 10px;
    background-size: 65%; } }
section.home.planning {
  background-color: #f9fafa;
  padding-bottom: 95px; }
  section.home.planning h2 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 33px; }
  section.home.planning .subtitle {
    max-width: 730px;
    margin: 0 auto;
    text-align: center;
    color: #3e4346; }
  section.home.planning .c-6-left.mobile {
    display: none; }
  section.home.planning block {
    padding-top: 90px;
    padding-bottom: 0;
    display: block;
    border: none; }
  section.home.planning .planning__imgWrap {
    margin-top: 42px;
    width: 100%;
    text-align: justify;
    font-size: 1px; }
    section.home.planning .planning__imgWrap:after {
      content: ' ';
      display: inline-block;
      width: 100%;
      height: 0;
      line-height: 0; }
  section.home.planning .planning__img {
    display: inline-block;
    height: auto;
    box-shadow: 0 0px 5px 0 rgba(104, 115, 134, 0.1); }
  section.home.planning .steps {
    text-align: justify;
    max-width: 920px;
    margin: 0 auto;
    margin-top: 96px;
    font-size: 1px; }
    section.home.planning .steps:after {
      display: inline-block;
      width: 100%;
      content: ' ';
      height: 0;
      line-height: 0;
      overflow: hidden; }
    section.home.planning .steps__item {
      display: inline-block;
      width: 56px;
      height: 56px;
      background-color: #a2a9ac;
      border-radius: 50%;
      position: relative; }
      section.home.planning .steps__item:before {
        content: ' ';
        display: block;
        width: 210px;
        height: 1px;
        background-color: #a2a9ac;
        position: absolute;
        right: -220px;
        top: 50%; }
      section.home.planning .steps__item:after {
        content: ' ';
        display: block;
        width: 10px;
        position: absolute;
        height: 7px;
        right: -228px;
        top: 50%;
        background: url(/site/assets/img/home/p_arrow.png);
        background-size: cover;
        margin-top: -3px; }
      section.home.planning .steps__item.last {
        background-color: #06c026; }
        section.home.planning .steps__item.last:after {
          display: none; }
        section.home.planning .steps__item.last:before {
          display: none; }
    section.home.planning .steps__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto; }

@media (max-width: 1200px) {
  section.home.planning .planning__imgWrap {
    text-align: center; }
  section.home.planning .planning__img {
    margin: 20px 60px; } }
@media (max-width: 991px) {
  section.home.planning .steps {
    max-width: 710px; }
    section.home.planning .steps__item:before {
      width: 140px;
      right: -148px; }
    section.home.planning .steps__item:after {
      right: -157px; }
  section.home.planning .planning__img {
    margin: 20px 40px; } }
@media only screen and (max-width: 780px) {
  section.home.planning {
    padding-bottom: 40px; }
    section.home.planning block {
      padding-top: 40px; }
    section.home.planning .c-6-left {
      display: none; }
    section.home.planning .c-6-left.mobile {
      display: block; }
    section.home.planning .steps {
      max-width: 540px;
      margin-top: 25px; }
      section.home.planning .steps__item:before {
        width: 86px;
        right: -94px; }
      section.home.planning .steps__item:after {
        right: -99px; }
    section.home.planning .planning__img {
      margin: 20px 5px; } }
@media only screen and (max-width: 600px) {
  section.home.planning .steps {
    max-width: 540px;
    margin-top: 25px; }
    section.home.planning .steps__item:before {
      display: none; }
    section.home.planning .steps__item:after {
      display: none; }
  section.home.planning .planning__img {
    display: block;
    margin: 20px auto;
    width: 96%;
    max-width: 253px; } }
.visualize {
  background-color: #fff;
  padding-top: 80px; }
  .visualize__content {
    text-align: center; }
  .visualize__h2 {
    margin-top: 18px; }
  .visualize__subtitle {
    max-width: 718px;
    display: inline-block;
    margin-top: 28px; }
  .visualize__tabs {
    color: #5a5e61;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    display: table;
    line-height: 1.6;
    margin-top: 60px; }
  .visualize__item {
    display: table-cell;
    text-align: center;
    padding-bottom: 15px;
    position: relative;
    cursor: pointer; }
    .visualize__item.active, .visualize__item:hover {
      color: #383a3b; }
      .visualize__item.active::after, .visualize__item:hover::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -2px;
        left: 0;
        background-color: #399cf9; }
  .visualize__helper {
    border-top: 2px solid #e3e5e6;
    border-bottom: 1px solid #eaeaea;
    background: #f9fafa;
    padding-top: 45px;
    padding-bottom: 90px; }
  .visualize__tabContent {
    display: none; }
    .visualize__tabContent:before, .visualize__tabContent:after {
      content: "";
      display: table; }
    .visualize__tabContent:after {
      clear: both; }
    .visualize__tabContent.active {
      display: block; }
  .visualize__imgWrap {
    float: left;
    width: 57%;
    padding: 25px 0; }
  .visualize__img {
    border: 1px solid #dedede;
    border-radius: 3px 3px 0px 0px;
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: -2px 4px 38px 0 rgba(104, 115, 134, 0.2); }
  .visualize__info {
    width: 43%;
    float: left;
    padding-left: 40px;
    padding-top: 50px;
    text-align: center; }
  .visualize__infoTitle {
    color: #383a3b;
    font-size: 24px;
    font-weight: 600;
    line-height: 48px; }
  .visualize__infoText {
    color: #3e4346;
    font-size: 17px;
    line-height: 25px;
    margin-top: 10px; }
  .visualize__more {
    text-decoration: underline;
    display: inline-block;
    position: relative;
    color: #5a5e61; }
    .visualize__more::after {
      content: "→";
      display: inline-block;
      position: absolute;
      top: 0;
      right: -25px; }
  .visualize__start {
    width: 155px;
    height: 38px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    display: inline-block;
    text-align: center;
    line-height: 38px;
    background-color: #399cf9;
    color: white;
    font-size: 15px;
    background-color: #399cf9;
    border-radius: 5px;
    margin-top: 25px; }
  .visualize__slide {
    outline: none;
    overflow: hidden; }
  .visualize__dots {
    list-style-type: none;
    padding: 0;
    font-size: 0;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%); }
    .visualize__dots li {
      display: inline-block;
      margin: 0 3px; }
      .visualize__dots li.slick-active button {
        background-color: #7a7d80; }
      .visualize__dots li button {
        display: block;
        padding: 0;
        background: red;
        border: none;
        outline: none;
        width: 8px;
        height: 8px;
        background-color: #dedede;
        border-radius: 50%; }

@media only screen and (max-width: 900px) {
  .visualize__tabs {
    font-size: 14px; } }
@media only screen and (max-width: 780px) {
  .visualize {
    padding-top: 40px; }
    .visualize__tabs {
      display: block; }
    .visualize__item {
      width: 33.3333%;
      float: left;
      display: block;
      padding: 0;
      line-height: 30px;
      border-radius: 3px; }
      .visualize__item.active, .visualize__item:hover {
        color: #fff;
        background-color: #399cf9; }
        .visualize__item.active:after, .visualize__item:hover:after {
          display: none; }
    .visualize__tabContent {
      text-align: center; }
    .visualize__imgWrap {
      float: none;
      width: auto;
      display: inline-block;
      margin: 0 auto;
      text-align: center; }
    .visualize__info {
      width: 100%;
      text-align: left;
      padding-left: 0;
      padding-top: 15px; }
    .visualize__infoText {
      font-size: 15px;
      line-height: 1.3; }
    .visualize__helper {
      padding-bottom: 40px; }
    .visualize__dots {
      bottom: -25px; } }
@media only screen and (max-width: 780px) {
  .visualize__tabs {
    display: block;
    margin-bottom: 20px;
    margin-top: 40px; }
  .visualize__item {
    width: 50%;
    line-height: 30px;
    border-radius: 3px; }
    .visualize__item.active, .visualize__item:hover {
      color: #fff;
      background-color: #399cf9; }
      .visualize__item.active:after, .visualize__item:hover:after {
        display: none; } }
section.home.wigd .separator {
  margin-top: 30px; }
section.home.wigd .cf:before, section.home.wigd .cf:after {
  content: "";
  display: table; }
section.home.wigd .cf:after {
  clear: both; }
section.home.wigd .quote {
  position: relative;
  padding: 0 30px 0 30px;
  font-size: 16px;
  opacity: 0.8;
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.5em; }
  section.home.wigd .quote:before {
    content: '\201C';
    font-size: 50px;
    line-height: 0.1em;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0; }
  section.home.wigd .quote:after {
    content: '\201D';
    font-size: 50px;
    line-height: 0.1em;
    opacity: 0.4;
    position: absolute;
    right: 0;
    bottom: 0; }
section.home.wigd .icons {
  margin: 43px 10px 40px 10px; }
  section.home.wigd .icons .icon {
    width: 60px;
    text-align: center;
    float: left; }
  section.home.wigd .icons .m-right {
    margin-right: calc((100% - 240px) / 3); }
section.home.wigd .c-6-right {
  text-align: right;
  position: relative; }
  section.home.wigd .c-6-right img {
    max-width: 100%;
    height: auto;
    margin-right: -15px;
    display: inline-block; }
section.home.wigd .wigd__play {
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  outline: none;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 4%; }
  section.home.wigd .wigd__play:before {
    content: '';
    display: block;
    border: 15px solid transparent;
    border-left: 20px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 11px; }
section.home.wigd .video-btn {
  border: 1px solid #389cf9;
  color: #389cf9;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 10px 20px 10px 36px;
  font-size: 16px;
  font-weight: 600;
  position: relative; }
  section.home.wigd .video-btn:before {
    content: '';
    display: block;
    border: 6px solid transparent;
    border-left: 6px solid #389cf9;
    position: absolute;
    top: 12px;
    left: 20px; }

@media (max-width: 780px) {
  section.home.wigd .icons {
    margin-right: 0;
    margin-left: 0; }
  section.home.wigd .icons__item {
    margin: 0 3px; }
    section.home.wigd .icons__item:after {
      display: none; } }
.numbers {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 61px;
  border-bottom: 2px solid #eaeaea;
  font-size: 0; }
  .numbers__list {
    list-style-type: none;
    text-align: justify;
    color: #adb3b5;
    padding: 0 65px; }
    .numbers__list:after {
      content: "";
      display: inline-block;
      font-size: 0;
      line-height: 0;
      height: 0;
      width: 100%; }
  .numbers__item {
    display: inline-block;
    text-align: left;
    margin: 0 10px; }
  .numbers__icon {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    margin-top: -4px; }
  .numbers__num {
    vertical-align: middle;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 300;
    font-size: 34px;
    color: rgba(56, 58, 59, 0.86); }
  .numbers__name {
    display: block;
    font-size: 16px;
    color: #3e4346;
    text-align: center;
    margin-top: 4px; }
  .numbers__border {
    display: none;
    height: 2px;
    background-color: #f4f4f4;
    width: 100%; }
  .numbers__plus {
    margin: 0 0 0 5px;
    font-size: 28px; }

@media(max-width: 900px) {
  .numbers__list {
    padding: 0 30px; } }
@media(max-width: 780px) {
  .numbers__item {
    margin-bottom: 15px; } }
@media(max-width: 500px) {
  .numbers {
    padding: 0 0 0 0; }
    .numbers__list {
      padding: 0 0px;
      text-align: justify; }
    .numbers__item {
      margin-bottom: 15px;
      text-align: center;
      display: inline-block;
      width: 120px;
      margin-top: 33px;
      margin-bottom: 30px; }
    .numbers__icon {
      margin-right: 5px; }
    .numbers__num {
      font-size: 22px;
      display: block;
      margin-top: 6px; }
    .numbers__plus {
      font-size: 20px; }
    .numbers__name {
      margin-top: 1px;
      font-size: 14px; }
    .numbers__border {
      display: inline-block; } }
.visualize {
  background-color: #fff;
  padding-top: 80px; }
  .visualize__content {
    text-align: center; }
  .visualize__h2 {
    margin-top: 18px; }
  .visualize__subtitle {
    max-width: 718px;
    display: inline-block;
    margin-top: 28px; }
  .visualize__tabs {
    color: #5a5e61;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    display: table;
    line-height: 1.6;
    margin-top: 60px; }
  .visualize__item {
    display: table-cell;
    text-align: center;
    padding-bottom: 15px;
    position: relative;
    cursor: pointer; }
    .visualize__item.active, .visualize__item:hover {
      color: #383a3b; }
      .visualize__item.active::after, .visualize__item:hover::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -2px;
        left: 0;
        background-color: #399cf9; }
  .visualize__helper {
    border-top: 2px solid #e3e5e6;
    border-bottom: 1px solid #eaeaea;
    background: #f9fafa;
    padding-top: 45px;
    padding-bottom: 90px; }
  .visualize__tabContent {
    display: none; }
    .visualize__tabContent:before, .visualize__tabContent:after {
      content: "";
      display: table; }
    .visualize__tabContent:after {
      clear: both; }
    .visualize__tabContent.active {
      display: block; }
  .visualize__imgWrap {
    float: left;
    width: 57%;
    padding: 25px 0; }
  .visualize__img {
    border: 1px solid #dedede;
    border-radius: 3px 3px 0px 0px;
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: -2px 4px 38px 0 rgba(104, 115, 134, 0.2); }
  .visualize__info {
    width: 43%;
    float: left;
    padding-left: 40px;
    padding-top: 50px;
    text-align: center; }
  .visualize__infoTitle {
    color: #383a3b;
    font-size: 24px;
    font-weight: 600;
    line-height: 48px; }
  .visualize__infoText {
    color: #3e4346;
    font-size: 17px;
    line-height: 25px;
    margin-top: 10px; }
  .visualize__more {
    text-decoration: underline;
    display: inline-block;
    position: relative;
    color: #5a5e61; }
    .visualize__more::after {
      content: "→";
      display: inline-block;
      position: absolute;
      top: 0;
      right: -25px; }
  .visualize__start {
    width: 155px;
    height: 38px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    display: inline-block;
    text-align: center;
    line-height: 38px;
    background-color: #399cf9;
    color: white;
    font-size: 15px;
    background-color: #399cf9;
    border-radius: 5px;
    margin-top: 25px; }
  .visualize__slide {
    outline: none;
    overflow: hidden; }
  .visualize__dots {
    list-style-type: none;
    padding: 0;
    font-size: 0;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%); }
    .visualize__dots li {
      display: inline-block;
      margin: 0 3px; }
      .visualize__dots li.slick-active button {
        background-color: #7a7d80; }
      .visualize__dots li button {
        display: block;
        padding: 0;
        background: red;
        border: none;
        outline: none;
        width: 8px;
        height: 8px;
        background-color: #dedede;
        border-radius: 50%; }

@media only screen and (max-width: 900px) {
  .visualize__tabs {
    font-size: 14px; } }
@media only screen and (max-width: 780px) {
  .visualize {
    padding-top: 40px; }
    .visualize__tabs {
      display: block; }
    .visualize__item {
      width: 33.3333%;
      float: left;
      display: block;
      padding: 0;
      line-height: 30px;
      border-radius: 3px; }
      .visualize__item.active, .visualize__item:hover {
        color: #fff;
        background-color: #399cf9; }
        .visualize__item.active:after, .visualize__item:hover:after {
          display: none; }
    .visualize__tabContent {
      text-align: center; }
    .visualize__imgWrap {
      float: none;
      width: auto;
      display: inline-block;
      margin: 0 auto;
      text-align: center; }
    .visualize__info {
      width: 100%;
      text-align: left;
      padding-left: 0;
      padding-top: 15px; }
    .visualize__infoText {
      font-size: 15px;
      line-height: 1.3; }
    .visualize__helper {
      padding-bottom: 40px; }
    .visualize__dots {
      bottom: -25px; } }
@media only screen and (max-width: 780px) {
  .visualize__tabs {
    display: block;
    margin-bottom: 20px;
    margin-top: 40px; }
  .visualize__item {
    width: 50%;
    line-height: 30px;
    border-radius: 3px; }
    .visualize__item.active, .visualize__item:hover {
      color: #fff;
      background-color: #399cf9; }
      .visualize__item.active:after, .visualize__item:hover:after {
        display: none; } }
.reviews {
  background: url(/site/assets/img/home/reviews_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .reviews__content {
    padding-top: 60px;
    padding-bottom: 70px; }
  .reviews__h2 {
    color: #fff;
    text-align: center; }
  .reviews__list {
    margin: 47px -7.5px 0; }
  .reviews__item {
    background-color: #fafbfb;
    width: 360px;
    text-align: center;
    color: #383a3b;
    padding: 45px 20px 25px 28px;
    margin: 0 7.5px;
    float: left;
    box-shadow: 1px 0 10px 0 rgba(94, 108, 116, 0.2);
    min-height: 480px; }
  .reviews__imgWrap {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden; }
  .reviews__img {
    display: block; }
  .reviews__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 14px;
    text-align: right; }
  .reviews__source {
    text-align: center; }
    .reviews__source img {
      width: 120px;
      display: inline-block; }
  .reviews__title {
    color: #383a3b;
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
    font-style: italic;
    padding: 0 20px;
    margin-top: 26px;
    min-height: 44px; }
  .reviews__text {
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    font-style: italic;
    font-weight: normal;
    margin-top: 20px; }
  .reviews__stars {
    color: #686d6f;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    margin: 0 0 10px 0;
    text-align: center; }
    .reviews__stars:before {
      content: "";
      width: 80px;
      height: 13.5px;
      display: inline-block;
      margin-right: 10px; }
    .reviews__stars.score-5:before {
      background: url(/site/assets/img/home/reviews/score-5.png) left center no-repeat;
      background-size: cover; }
    .reviews__stars.score-4:before {
      background: url(/site/assets/img/home/reviews/score-4.png) left center no-repeat;
      background-size: cover; }
  .reviews__prev, .reviews__next {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: -45px;
    transform: translateY(-50%);
    width: 13px;
    height: 21px;
    background: transparent;
    border: none;
    background: url(/site/assets/img/home/rev_parrow.png);
    background-size: cover;
    outline: none;
    cursor: pointer; }
  .reviews__next {
    left: auto;
    right: -45px;
    background: url(/site/assets/img/home/rev_narrow.png);
    background-size: cover; }

@media(max-width: 1300px) {
  .reviews__list {
    padding: 0 50px; }
  .reviews__prev, .reviews__next {
    left: 10px; }
  .reviews__next {
    left: auto;
    right: 10px; } }
@media(max-width: 780px) {
  .reviews__content {
    padding-top: 30px;
    padding-bottom: 30px; }
  .reviews__list {
    margin-top: 20px; }
  .reviews__item {
    padding-top: 25px;
    padding-bottom: 20px; }
  .reviews__text {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 10px; }
  .reviews__list {
    padding: 0 15px; }
  .reviews__prev, .reviews__next {
    left: 0px; }
  .reviews__next {
    left: auto;
    right: 0px; } }
section.pricing {
  margin: 4px 0;
  font-size: 16px;
  color: #383a3b;
  padding-bottom: 75px; }
  section.pricing .c1, section.pricing .c2, section.pricing .c3 {
    width: 350px;
    float: left;
    box-shadow: 0 1px 10px 0 rgba(94, 108, 116, 0.1), 0 9px 95px 0 rgba(94, 108, 116, 0.1);
    background-color: #fff;
    border-radius: 5px; }
  section.pricing .c1, section.pricing .c2 {
    margin: 0 30px 0 0; }
  section.pricing .plan {
    min-height: 290px;
    text-align: center;
    overflow: auto;
    color: white;
    font-weight: 200; }
    section.pricing .plan h2 {
      text-transform: capitalize;
      margin: 65px 0 0 0;
      font-size: 22px;
      font-weight: 700;
      position: relative;
      line-height: 50px; }
    section.pricing .plan .users {
      color: #a2a9ac;
      font-size: 20px;
      margin-top: 15px; }
    section.pricing .plan .desc {
      padding: 0 40px;
      line-height: 1.5;
      font-size: 17px;
      margin-top: 32px; }
      section.pricing .plan .desc__helper {
        display: inline-block; }
  section.pricing .features {
    padding: 30px; }
  section.pricing .plan {
    color: #000;
    border-bottom: 3px solid #ccc;
    padding-bottom: 44px; }
  section.pricing .c1 .plan {
    border-color: #06c026; }
  section.pricing .c2 .plan {
    border-color: #399cf9; }
  section.pricing .c3 .plan {
    border-color: #798992; }
  section.pricing ul li {
    list-style: none;
    position: relative;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px; }
    section.pricing ul li:before {
      content: '';
      background-image: url(../img/pricing/li-green.png);
      background-repeat: no-repeat;
      background-size: 100%;
      width: 14px;
      height: 11px;
      position: absolute;
      left: -29px;
      top: 5px; }
  section.pricing .price {
    text-align: center;
    margin: 27px 0 22px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px; }
    section.pricing .price span {
      font-size: 28px; }
    section.pricing .price__icon {
      height: auto;
      vertical-align: middle;
      margin-top: -6px;
      margin-right: 13px; }
  section.pricing .action {
    text-align: center; }
  section.pricing .btn {
    height: 38px;
    line-height: 38px;
    width: 120px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    display: inline-block;
    text-align: center;
    padding: 0;
    white-space: nowrap;
    color: white;
    font-size: 15px;
    font-weight: 600; }
    section.pricing .btn.start1 {
      background-color: #06c026; }
    section.pricing .btn.start2 {
      background-color: #399cf9; }
    section.pricing .btn.contact {
      background-color: #5a7787; }
  section.pricing .time {
    text-align: right;
    font-size: 0;
    padding-right: 13px;
    margin-bottom: 27px; }
    section.pricing .time__link {
      display: inline-block;
      text-align: center;
      font-size: 13px;
      line-height: 24px;
      border-radius: 12px;
      color: #5a5e61;
      font-weight: 600;
      width: 80px;
      margin-left: 10px;
      border: 1px solid transparent; }
      section.pricing .time__link.active, section.pricing .time__link:hover {
        color: #383a3b;
        border: 1px solid #798992;
        font-weight: 700;
        background-color: #fff; }

.pricing.mounth .year, .pricing.year .mounth {
  display: none; }

@media only screen and (max-width: 1200px) {
  section.pricing {
    text-align: center;
    font-size: 0; }
    section.pricing .c1, section.pricing .c2, section.pricing .c3 {
      width: 30%;
      min-width: 300px;
      margin: 0 5px;
      display: inline-block;
      float: none;
      vertical-align: top;
      text-align: left; } }
@media only screen and (max-width: 1000px) {
  section.pricing {
    padding-bottom: 20px; }
    section.pricing .c1, section.pricing .c2, section.pricing .c3 {
      width: 100%;
      float: none;
      max-width: 600px;
      margin: 0 auto 40px auto; } }
.auth-page {
  font-weight: 300;
  background-color: white;
  display: table;
  width: 100%;
  height: 100%; }
  .auth-page .box.unsubscribe .email-address {
    font-size: 20px;
    font-weight: 600;
    color: #57585c;
    margin: 0 0 40px 0; }
  .auth-page .box.unsubscribe p {
    font-size: 18px; }
  .auth-page .box.unsubscribe form {
    margin-top: 40px; }
  .auth-page .hidden {
    display: none; }
  .auth-page .gd-logo {
    text-align: center;
    position: absolute;
    top: 26px;
    left: 72px; }
    .auth-page .gd-logo a img {
      width: 131px; }
  .auth-page .center-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .auth-page .box {
    max-width: 800px;
    margin: 0 auto 100px auto; }
  .auth-page h1 {
    font-size: 38px;
    font-weight: 200;
    color: #57585c;
    margin: 0 0 20px 0; }
  .auth-page h2 {
    font-size: 28px;
    font-weight: 200;
    color: #57585c;
    margin: 0 0 30px 0; }
  .auth-page .confirmation {
    padding: 0 0 40px 0; }
    .auth-page .confirmation .ico-ok {
      margin: 0 0 20px 0; }
    .auth-page .confirmation p {
      font-size: 16px;
      margin: 0 0 30px 0; }
      .auth-page .confirmation p.small {
        max-width: 400px;
        font-size: 14px;
        margin: 0 auto 30px auto; }
      .auth-page .confirmation p span.email {
        color: #3093f9;
        font-weight: normal; }
  .auth-page .ico-error-big {
    margin: 0 0 20px 0; }
  .auth-page .form-errors {
    min-height: 40px;
    padding: 0 0 25px 0;
    color: red; }
    .auth-page .form-errors .errors.bigger {
      font-size: 18px; }
    .auth-page .form-errors div {
      margin: 10px 0 0 0; }
  .auth-page .block-email .email {
    border: 1px solid #ccc;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    background-color: #f5f5f5;
    padding: 4px 10px 4px 38px;
    background-image: url("../img/auth/ico-email.png");
    background-repeat: no-repeat;
    background-position: 11px 4px; }
  .auth-page button.login {
    background: #399cf9;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    font-size: 16px;
    padding: 4px 25px 0 25px;
    height: 38px; }
  .auth-page form {
    width: 100%;
    max-width: 440px;
    margin: 0 auto; }
    .auth-page form .line {
      margin: 0 0 50px 0;
      font-size: 13px; }
      .auth-page form .line .remember {
        float: left;
        line-height: 42px; }
      .auth-page form .line .forgot {
        float: right;
        border-bottom: 1px dashed;
        margin: 15px 0 0 0; }
    .auth-page form .line-actions .login {
      float: left;
      width: 210px; }
    .auth-page form .line-actions .or {
      float: left;
      width: 55px;
      text-align: center;
      line-height: 38px;
      color: #8f9196; }
    .auth-page form .line-actions .g-signin2 {
      float: left; }
      .auth-page form .line-actions .g-signin2 .abcRioButton.abcRioButtonLightBlue {
        box-shadow: none !important;
        border: 1px solid #aeaeae; }
    .auth-page form .line-actions a {
      float: left;
      width: 35%;
      display: block;
      border: 1px solid #aeaeae;
      border-radius: 2px;
      box-sizing: border-box;
      line-height: 38px; }
    .auth-page form .line-action {
      text-align: center; }
    .auth-page form input[type="checkbox"] {
      display: none; }
    .auth-page form input[type="checkbox"] + label span {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: -1px 18px 0 0;
      vertical-align: middle;
      background: url("../img/auth/checkbox.png") left top no-repeat;
      cursor: pointer; }
    .auth-page form input[type="checkbox"]:checked + label span {
      background: url("../img/auth/checkbox.png") -18px top no-repeat; }
    .auth-page form input[type=text], .auth-page form input[type=password] {
      font-size: 16px;
      height: 42px;
      line-height: 42px;
      width: 100%;
      border-bottom: 1px solid #e2e2e2;
      padding: 0 20px 0 35px;
      margin: 0 0 15px 0;
      font-weight: 200; }
      .auth-page form input[type=text]:focus, .auth-page form input[type=password]:focus {
        border-bottom: 1px solid #3093f9; }
      .auth-page form input[type=text].email, .auth-page form input[type=password].email {
        background-image: url("../img/auth/ico-email.png");
        background-repeat: no-repeat;
        background-position: 0 11px; }
      .auth-page form input[type=text].password, .auth-page form input[type=password].password {
        background-image: url("../img/auth/ico-password.png");
        background-repeat: no-repeat;
        background-position: 0 11px; }
      .auth-page form input[type=text].name, .auth-page form input[type=password].name {
        background-image: url("../img/auth/ico-user.png");
        background-repeat: no-repeat;
        background-position: 0 11px; }
  .auth-page .box-join form {
    max-width: 600px; }
  .auth-page .box-join p {
    font-size: 16px;
    line-height: 24px; }
  .auth-page .box-join .company-name, .auth-page .box-join .from-user-name {
    font-weight: 600; }
  .auth-page .box-ivitation-signup {
    margin: 0 auto 0 auto; }
    .auth-page .box-ivitation-signup .form-errors {
      padding: 10px 0 25px 0; }
      .auth-page .box-ivitation-signup .form-errors div {
        margin: 10px 0 0 0; }
    .auth-page .box-ivitation-signup p {
      font-size: 14px;
      line-height: 20px; }
    .auth-page .box-ivitation-signup .company-name, .auth-page .box-ivitation-signup .from-user-name {
      font-weight: 600; }
    .auth-page .box-ivitation-signup form button {
      min-width: 160px; }
  .auth-page .select-timezone {
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    border-bottom: 1px solid #e2e2e2;
    padding: 0 20px 0 35px;
    margin: 0 0 15px 0;
    font-weight: 200;
    outline: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-appearance: none;
    background-image: url("../img/auth/ico-timezone.png");
    background-repeat: no-repeat;
    background-position: 0 11px; }
    .auth-page .select-timezone:focus {
      border-bottom: 1px solid #3093f9; }
  .auth-page .dont-have-account {
    margin: 60px 0 0 0;
    font-size: 16px; }
    .auth-page .dont-have-account a {
      color: #399cf9;
      font-weight: bold;
      text-decoration: underline; }

@media only screen and (max-width: 767px) {
  .auth-page .center-cell {
    padding: 100px 0 0 0; }
  .auth-page .box {
    margin: 0 20px 40px 20px; }
  .auth-page .gd-logo {
    top: 15px;
    left: 15px; }
    .auth-page .gd-logo a img {
      width: 100px; }
  .auth-page h1 {
    font-size: 26px;
    margin: 0 0 20px 0; }
  .auth-page h2 {
    font-size: 18px;
    margin: 0 0 30px 0; }
  .auth-page form .line-actions .login {
    float: none;
    width: 80%; }
  .auth-page form .line-actions .g-signin2 {
    float: none;
    display: inline-block;
    width: 80% !important; }
    .auth-page form .line-actions .g-signin2 .abcRioButton.abcRioButtonLightBlue {
      width: 100% !important; }
  .auth-page form .line-actions .or {
    float: none;
    width: 80%;
    text-align: center;
    line-height: 38px;
    color: #8f9196;
    display: inline-block; }
  .auth-page form .line-actions a {
    float: none;
    width: 80%;
    display: inline-block;
    border: 1px solid #aeaeae;
    border-radius: 2px;
    box-sizing: border-box;
    line-height: 38px; } }
section.product {
  font-size: 16px; }
  section.product block {
    padding: 50px 0 50px 0;
    display: table;
    width: 100%; }
  section.product .left {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  section.product .right {
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle; }
  section.product .desc {
    line-height: 1.5em;
    font-size: 18px;
    font-weight: 200; }

@media only screen and (max-width: 780px) {
  section.product block {
    display: block; }
  section.product .left {
    width: 100%;
    display: block; }
  section.product .right {
    display: block;
    width: 100%; } }
section.poft {
  overflow: hidden; }
  section.poft block {
    padding: 50px 0 50px 0;
    background: url("../img/product/transp-bg.jpg");
    height: 564px;
    box-sizing: border-box; }
  section.poft h2 {
    padding: 25px 0 25px 0; }
  section.poft .left {
    width: 60%; }
    section.poft .left .container {
      text-align: center;
      max-width: 550px;
      margin: 0 auto 0 auto;
      background-color: white;
      padding: 30px 50px 20px 50px; }
    section.poft .left .desc {
      line-height: 1.5em;
      opacity: 0.8;
      font-size: 18px; }
  section.poft .right {
    width: 40%; }
    section.poft .right img {
      display: none; }

@media only screen and (max-width: 780px) {
  section.poft block {
    background: none; }
  section.poft h2 {
    padding: 0 0 0 0; }
  section.poft .right {
    width: 100%; }
    section.poft .right img {
      display: inline-block;
      padding: 25px 0 25px 0; }
  section.poft .left {
    width: 100%; }
    section.poft .left .container {
      max-width: 100%;
      padding: 0 0 0 0; }
      section.poft .left .container img {
        padding: 0 0 25px 0; } }
section.poft-more {
  background-color: #5e96f5; }
  section.poft-more block:after {
    content: '';
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 22px solid #5e96f5;
    position: absolute;
    right: 32%;
    top: -22px; }
  section.poft-more block .container {
    text-align: center;
    color: white; }
    section.poft-more block .container p {
      max-width: 800px;
      margin: 0 auto 60px auto;
      line-height: 2em;
      font-weight: 200;
      font-size: 18px; }

section.reports {
  overflow: hidden; }
  section.reports .left .container {
    text-align: center;
    max-width: 500px; }
  section.reports .left .desc {
    opacity: 0.8; }
  section.reports .left .gd-icon-report {
    display: block;
    font-size: 59px;
    color: #8568c7;
    padding-bottom: 14px; }
  section.reports .right img {
    margin: 0 0 -55px 0; }

@media only screen and (max-width: 780px) {
  section.reports .left .container {
    max-width: 100%; } }
section.reports-more {
  background-color: #8568c7; }
  section.reports-more block:after {
    content: '';
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 22px solid #8568c7;
    position: absolute;
    left: 25%;
    top: -22px; }
  section.reports-more block .right {
    color: white; }
    section.reports-more block .right .container {
      max-width: 450px;
      font-weight: 200;
      margin: 0 auto; }
    section.reports-more block .right img {
      margin: 20px 0 0 0; }

section.product.bi block {
  text-align: center; }
  section.product.bi block .ico {
    margin: 0 0 20px 0; }
  section.product.bi block p {
    opacity: 0.8;
    line-height: 1.5em;
    font-size: 18px;
    margin: 30px 0 50px 0; }
  section.product.bi block .screens {
    margin: 40px 0 0 0; }

section.time-tracking block {
  max-width: 800px;
  text-align: center; }
section.time-tracking .gd-icon-time {
  display: inline-block;
  font-size: 50px;
  color: #06c026; }
section.time-tracking p {
  font-size: 18px;
  opacity: 0.8;
  max-width: 600px;
  line-height: 1.5em;
  margin: 40px auto 20px auto;
  font-weight: 200; }

section.time-tracking-more {
  background-color: #6ebd48; }
  section.time-tracking-more block {
    position: relative; }
    section.time-tracking-more block:after {
      content: '';
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 22px solid #6ebd48;
      position: absolute;
      left: 50%;
      margin-left: -22px;
      top: -22px; }
  section.time-tracking-more .column {
    float: left;
    width: 50%; }
    section.time-tracking-more .column.left img.screen {
      margin: 30px 0 0 0; }
    section.time-tracking-more .column.right img.screen {
      margin: 30px 0 0 0; }
    section.time-tracking-more .column .ico {
      height: 55px;
      vertical-align: middle; }
  section.time-tracking-more h1, section.time-tracking-more p.desc {
    color: white; }
  section.time-tracking-more h1 {
    margin: 20px 0 30px 0; }
  section.time-tracking-more .container {
    max-width: 460px;
    margin: 0 auto; }

@media only screen and (max-width: 780px) {
  section.time-tracking-more .column {
    width: 100%; }
    section.time-tracking-more .column.left {
      margin-bottom: 60px; } }
section.product.action-required block.eliminate .left.mobile {
  display: none; }
section.product.action-required block.eliminate .left {
  display: block; }
section.product.action-required block.ar1 {
  text-align: center; }
  section.product.action-required block.ar1 .container {
    max-width: 800px;
    margin: 0 auto; }
  section.product.action-required block.ar1 h1 {
    margin: 20px 0 30px 0; }
  section.product.action-required block.ar1 .timeline {
    margin: 40px 0 0 0; }
section.product.action-required block.clear, section.product.action-required block.eliminate, section.product.action-required block.accountability {
  padding: 30px 0 30px 0; }
section.product.action-required block.clear {
  padding: 30px 0 50px 0; }
section.product.action-required block.accountability {
  padding: 50px 0 30px 0; }

@media only screen and (max-width: 780px) {
  section.product.action-required block.eliminate .left.mobile {
    display: block; }
  section.product.action-required block.eliminate .left {
    display: none; } }
section.product.security block {
  text-align: center; }
section.product.security ul {
  list-style: none;
  padding: 30px 10px 0 10px;
  text-align: left; }
  section.product.security ul li {
    background-image: url("../img/common/li-arr.png");
    background-size: 17px 7px;
    background-position: 1px 9px;
    background-repeat: no-repeat;
    padding-left: 40px;
    position: relative;
    line-height: 26px;
    margin-bottom: 7px;
    font-weight: 200; }
section.product.security h1 {
  margin: 0 0 50px 0; }
section.product.security .column {
  width: 33.33333%;
  float: left; }
  section.product.security .column .container {
    max-width: 305px;
    margin: 0 auto; }
    section.product.security .column .container .title {
      font-size: 24px;
      color: white;
      padding: 10px 0 7px 0;
      font-weight: 200; }
      section.product.security .column .container .title.encryption {
        background-color: #00c3e6; }
      section.product.security .column .container .title.access-control {
        background-color: #4170e7; }
      section.product.security .column .container .title.data-centers {
        background-color: #00b46e; }
  section.product.security .column span {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 88px;
    height: 94px;
    margin: 0 auto 47px auto;
    display: block; }
    section.product.security .column span.img-encryption {
      background-image: url("../img/product/security-encryption.png"); }
    section.product.security .column span.img-access-control {
      background-image: url("../img/product/security-access-control.png"); }
    section.product.security .column span.img-data-centers {
      background-image: url("../img/product/security-data-centers.png"); }

@media only screen and (max-width: 780px) {
  section.product.security block {
    text-align: center; }
  section.product.security ul {
    list-style: none;
    padding: 30px 10px 0 10px;
    text-align: left; }
    section.product.security ul li {
      background-image: url("../img/common/li-arr.png");
      background-size: 17px 7px;
      background-position: 1px 9px;
      background-repeat: no-repeat;
      padding-left: 40px;
      position: relative;
      line-height: 26px;
      margin-bottom: 7px;
      font-weight: 200; }
  section.product.security h1 {
    margin: 0 0 50px 0; }
  section.product.security .column {
    width: 100%;
    margin-bottom: 30px; }
    section.product.security .column:last-child {
      margin-bottom: 0; } }
section.product.integration {
  background-color: #f9815b; }
  section.product.integration block {
    text-align: center;
    color: white; }
  section.product.integration h1 {
    margin: 30px 0 50px 0; }
  section.product.integration p.desc {
    margin: 50px auto 20px auto;
    max-width: 600px; }

section.product.more-fetatures block {
  text-align: center;
  display: block; }
section.product.more-fetatures h1 {
  margin: 30px 0 0 0; }
section.product.more-fetatures h5 {
  font-size: 22px;
  margin: 20px 0 0 0;
  padding-bottom: 2px;
  font-weight: 200; }
section.product.more-fetatures .img-figure-book .img-mac-boock {
  background-image: url("../img/product/aple-book.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 900px;
  height: 468px;
  margin: -430px 270px 0px 0px;
  float: right; }
section.product.more-fetatures .count {
  text-align: center; }
  section.product.more-fetatures .count .items-fetatures {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0 30px; }
    section.product.more-fetatures .count .items-fetatures .item-fetature {
      width: 25%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 62px; }
      section.product.more-fetatures .count .items-fetatures .item-fetature .count {
        max-width: 275px;
        margin: 0 auto 0 auto;
        padding: 0 15px; }
        section.product.more-fetatures .count .items-fetatures .item-fetature .count span {
          font-size: 28px; }
          section.product.more-fetatures .count .items-fetatures .item-fetature .count span.gd-icon-tasks {
            color: #4e74ee; }
          section.product.more-fetatures .count .items-fetatures .item-fetature .count span.gd-icon-projects {
            color: #f9623e; }
          section.product.more-fetatures .count .items-fetatures .item-fetature .count span.gd-icon-view-tiles {
            color: #49bd4d; }
          section.product.more-fetatures .count .items-fetatures .item-fetature .count span.gd-icon-deadline {
            color: #9376d1; }
          section.product.more-fetatures .count .items-fetatures .item-fetature .count span.gd-icon-status-board {
            color: #25cf75; }
          section.product.more-fetatures .count .items-fetatures .item-fetature .count span.gd-icon-my-work {
            color: #5d4dda; }
          section.product.more-fetatures .count .items-fetatures .item-fetature .count span.gd-icon-calendar {
            color: #df2e47; }
          section.product.more-fetatures .count .items-fetatures .item-fetature .count span.gd-icon-report {
            color: #1fa0ed; }
          section.product.more-fetatures .count .items-fetatures .item-fetature .count span.gd-icon-notification {
            color: #c757b3; }
          section.product.more-fetatures .count .items-fetatures .item-fetature .count span.gd-icon-search {
            color: #25cf75; }
          section.product.more-fetatures .count .items-fetatures .item-fetature .count span.gd-icon-time {
            color: #4e74ee; }
          section.product.more-fetatures .count .items-fetatures .item-fetature .count span.gd-icon-activity {
            color: #f9623e; }
        section.product.more-fetatures .count .items-fetatures .item-fetature .count p {
          font-size: 15px;
          line-height: 24px;
          color: #353535;
          font-weight: normal; }

@media only screen and (max-width: 780px) {
  section.product.more-fetatures .img-figure-book {
    display: none; }
  section.product.more-fetatures .count .items-fetatures {
    padding: 0 0 0 0; }
    section.product.more-fetatures .count .items-fetatures .item-fetature {
      width: 50%;
      margin-top: 42px; }
      section.product.more-fetatures .count .items-fetatures .item-fetature .count {
        margin: 0 auto 0 auto;
        padding: 0 5px; } }
section.ia-list {
  font-size: 16px; }
  section.ia-list.with-bg block {
    border-bottom: none; }
  section.ia-list.with-bg .left img {
    display: none; }
  section.ia-list block {
    cursor: pointer;
    border-bottom: 1px solid #d6e0e0;
    height: 340px;
    width: 100%;
    display: table; }
  section.ia-list .left {
    display: table-cell;
    width: 42%;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center; }
    section.ia-list .left img {
      max-width: 420px;
      width: 100%; }
  section.ia-list .right {
    display: table-cell;
    vertical-align: middle;
    width: 58%;
    box-sizing: border-box;
    padding: 0 0 0 40px; }
  section.ia-list h2 {
    font-size: 32px;
    color: #3c3c3c;
    margin: 0 0 16px 0; }
  section.ia-list .tags div {
    display: inline-block;
    height: 28px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    padding: 4px 12px 0 12px;
    margin: 0 12px 0 0;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    section.ia-list .tags div.planning {
      background-color: #5e96f5; }
    section.ia-list .tags div.accountability {
      background-color: #f65e74; }
    section.ia-list .tags div.collaboration {
      background-color: #f8b541; }
    section.ia-list .tags div.productivity {
      background-color: #9ccc65; }
    section.ia-list .tags div.time-management {
      background-color: #7469e8; }
    section.ia-list .tags div.behaviour {
      background-color: #bb68c7; }
    section.ia-list .tags div.organization {
      background-color: #fa764d; }
    section.ia-list .tags div.motivation {
      background-color: #4bc1e3; }
    section.ia-list .tags div.gamification {
      background-color: #fad34d; }
  section.ia-list p {
    margin: 26px 0 16px 0;
    line-height: 1.6em; }
  section.ia-list a.read-more {
    color: #06c026;
    text-decoration: underline; }

@media only screen and (max-width: 780px) {
  section.ia-list block {
    display: block;
    height: auto; }
    section.ia-list block:after {
      content: ""; }
      section.ia-list block:after:before, section.ia-list block:after:after {
        content: "";
        display: table; }
      section.ia-list block:after:after {
        clear: both; }
  section.ia-list .left {
    display: block;
    width: 100%; }
    section.ia-list .left img {
      max-width: 420px;
      width: 100%; }
  section.ia-list .right {
    display: block;
    width: 100%;
    padding: 40px 0 40px 0; } }
section.header.in-action block {
  height: 260px;
  width: 100%;
  display: table; }
section.header.in-action a.ia-back-list {
  color: #399cf9;
  font-weight: 200; }
section.header.in-action .left {
  display: table-cell;
  width: 40%;
  vertical-align: middle;
  text-align: center; }
  section.header.in-action .left img {
    max-width: 420px;
    width: 100%; }
section.header.in-action .right {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
  box-sizing: border-box; }
section.header.in-action h1 {
  text-align: left; }

section.ia-block-desc block .column-left {
  float: left;
  width: 40%; }
  section.ia-block-desc block .column-left .count {
    padding: 0 65px 0 0;
    text-align: left; }
section.ia-block-desc block .column-right {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  float: left;
  width: 60%; }
  section.ia-block-desc block .column-right li {
    margin: 0 0 4px 0; }
  section.ia-block-desc block .column-right p {
    margin: 20px 0 20px 0; }
    section.ia-block-desc block .column-right p.sub-descr {
      padding-top: 7px;
      font-size: 26px; }

section.ia-block-hh {
  line-height: 28px;
  margin: 0 0 40px 0;
  background-color: #fafcff; }
  section.ia-block-hh .column-right {
    float: left;
    width: 60%; }
    section.ia-block-hh .column-right .summary {
      position: relative;
      margin: 0 40px 0 80px;
      color: #1672a2;
      font-size: 18px;
      line-height: 28px;
      quotes: "\201C" "\201D" "\201C" "\201D"; }
      section.ia-block-hh .column-right .summary::before {
        content: open-quote;
        font-size: 130px;
        color: #e0e6f0;
        position: absolute;
        top: 27px;
        left: -76px; }
      section.ia-block-hh .column-right .summary::after {
        content: close-quote;
        font-size: 130px;
        color: #e0e6f0;
        position: absolute;
        bottom: -50px;
        right: -30px; }
  section.ia-block-hh .column-left {
    float: left;
    width: 40%; }
    section.ia-block-hh .column-left .count {
      padding: 0 65px 0 0;
      text-align: left; }

section.in-action-section block {
  padding-top: 40px;
  padding-bottom: 40px; }
  section.in-action-section block.border {
    border-bottom: 1px solid #d6e0e0; }
section.in-action-section .ia-section-title {
  display: inline-block;
  color: white;
  margin: 26px 0 0 0;
  height: 56px;
  line-height: 1em;
  min-width: 280px;
  font-weight: 200;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  section.in-action-section .ia-section-title.how-helps {
    margin: 0 0 0 0; }
  section.in-action-section .ia-section-title.h2 {
    font-size: 32px;
    padding: 14px 22px 0 18px; }
  section.in-action-section .ia-section-title.h3 {
    font-size: 28px;
    padding: 16px 22px 6px 18px; }
  section.in-action-section .ia-section-title.h4 {
    font-size: 24px;
    padding: 22px 16px 0 16px; }
  section.in-action-section .ia-section-title.h2.red, section.in-action-section .ia-section-title.h3.red, section.in-action-section .ia-section-title.h4.red {
    background-color: #f74e67; }
  section.in-action-section .ia-section-title.h2.purple, section.in-action-section .ia-section-title.h3.purple, section.in-action-section .ia-section-title.h4.purple {
    background-color: #7253e2; }
  section.in-action-section .ia-section-title.h2.yellow, section.in-action-section .ia-section-title.h3.yellow, section.in-action-section .ia-section-title.h4.yellow {
    background-color: #ffc257; }
  section.in-action-section .ia-section-title.h2.blue, section.in-action-section .ia-section-title.h3.blue {
    background-color: #32b0e5; }

section.ia-separator block {
  border-bottom: 1px solid #d6e0e0; }

section.ia-block block {
  overflow: hidden; }
  section.ia-block block .column-left {
    display: table-cell;
    vertical-align: top;
    padding: 50px 0 0 0;
    width: 40%; }
    section.ia-block block .column-left .count {
      padding: 0 40px 0 0; }
    section.ia-block block .column-left h2 {
      margin: 18px 0; }
    section.ia-block block .column-left p {
      font-size: 16px;
      line-height: 28px;
      font-weight: normal; }
  section.ia-block block .column-right {
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    section.ia-block block .column-right .hh-img {
      width: 100%;
      max-width: 682px; }
    section.ia-block block .column-right .ia-screen {
      background-size: 100%;
      margin: 0 auto 0 auto;
      background-repeat: no-repeat; }

@media only screen and (max-width: 780px) {
  section.header.in-action block {
    height: 260px;
    width: 100%;
    display: table; }
  section.header.in-action .left {
    display: none; }
  section.header.in-action .right {
    text-align: center;
    width: 100%; }
    section.header.in-action .right h1 {
      text-align: center; }

  section.ia-block-desc block .column-left {
    width: 100%; }
  section.ia-block-desc block .column-right {
    width: 100%; }

  section.ia-block-hh .column-right {
    width: 100%; }
  section.ia-block-hh .column-left {
    width: 100%; }
    section.ia-block-hh .column-left .count {
      margin-bottom: 40px; }

  section.ia-block block .column-left {
    display: block;
    width: 100%;
    padding: 0 0 0 0; }
  section.ia-block block .column-right {
    width: 100%;
    display: block; }

  section.in-action-section block {
    padding-top: 20px;
    padding-bottom: 20px; } }
section.news-list {
  font-size: 16px; }
  section.news-list block {
    border-bottom: 1px solid #d6e0e0;
    width: 100%;
    display: table; }
  section.news-list .left {
    display: table-cell;
    width: 55%;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    padding: 50px 0 50px 0; }
  section.news-list .right {
    display: table-cell;
    vertical-align: middle;
    width: 45%;
    box-sizing: border-box;
    padding: 0 0 0 40px; }
  section.news-list ul {
    list-style: none;
    padding: 0 0 0 0; }
    section.news-list ul li:before {
      content: "-";
      text-indent: -5px;
      position: absolute;
      top: 0;
      left: 0; }
    section.news-list ul li {
      position: relative;
      line-height: 26px;
      padding: 0 0 5px 10px; }
  section.news-list h2 {
    font-size: 32px;
    color: #3c3c3c;
    margin: 0 0 16px 0; }
  section.news-list .tags div {
    display: inline-block;
    height: 28px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    padding: 4px 12px 0 12px;
    margin: 0 12px 0 0;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  section.news-list p {
    margin: 26px 0 16px 0;
    line-height: 1.6em; }
  section.news-list a.read-more {
    color: #06c026;
    text-decoration: underline; }
    section.news-list a.read-more.list {
      display: block;
      margin: 10px 0 0 10px; }

@media only screen and (max-width: 780px) {
  section.news-list block {
    display: block;
    height: auto; }
    section.news-list block:after {
      content: ""; }
      section.news-list block:after:before, section.news-list block:after:after {
        content: "";
        display: table; }
      section.news-list block:after:after {
        clear: both; }
  section.news-list .left {
    display: block;
    width: 100%;
    padding: 50px 0 0 0; }
  section.news-list .right {
    display: block;
    width: 100%;
    padding: 40px 0 40px 0; } }
section.news-block.last block {
  border-bottom: none; }
section.news-block block {
  padding: 50px 0 50px;
  text-align: center;
  border-bottom: 1px solid #d6e0e0; }
  section.news-block block h2 {
    margin: 0 0 40px 0; }
  section.news-block block .desc {
    line-height: 1.5em;
    font-size: 18px;
    font-weight: 200;
    max-width: 800px;
    margin: 0 auto 40px auto; }
  section.news-block block ul.more {
    line-height: 1.5em;
    font-size: 16px;
    font-weight: 200;
    max-width: 600px;
    margin: 0 auto 40px auto;
    padding: 0; }
    section.news-block block ul.more li {
      list-style: none;
      text-align: left;
      padding: 0 0 0 28px;
      position: relative;
      margin: 0 0 10px 0; }
      section.news-block block ul.more li .gd-icon-add {
        position: absolute;
        top: 0;
        left: 0;
        color: #cacaca;
        font-size: 12px;
        margin: 0 10px 0 0; }
  section.news-block block .snapshot.uni {
    max-width: 1200px; }
  section.news-block block .snapshot.web {
    display: inline-block;
    max-width: 1200px; }
  section.news-block block .snapshot.mobile {
    display: none;
    max-width: 768px; }

@media only screen and (max-width: 768px) {
  section.news-block block .snapshot.web {
    display: none; }
  section.news-block block .snapshot.mobile {
    display: inline-block; } }
section.support block {
  padding: 60px 0 60px 0; }
section.support .container {
  width: 100%;
  max-width: 1000px;
  display: table;
  margin: 0 auto; }
section.support .left, section.support .right {
  display: table-cell;
  text-align: center;
  vertical-align: top; }
section.support .left {
  width: 50%; }
section.support .right {
  width: 50%; }
  section.support .right h2 {
    display: none; }
section.support h2 {
  padding: 10px 25px;
  color: white;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  display: inline-block;
  font-weight: 200;
  background-color: #5e96f5;
  font-size: 26px; }
section.support .gd-icon-arrow-long-right {
  display: inline-block;
  color: #5e96f5;
  margin: 0 0 0 20px;
  font-size: 20px; }
section.support .l2, section.support .l3 {
  font-size: 18px;
  opacity: 0.8;
  padding: 0 40px 0 0; }
section.support .l2 {
  margin: 30px 0 30px 0; }
section.support .l3 a {
  color: #399cf9;
  font-size: 22px;
  text-decoration: underline; }
section.support form input {
  border: 1px solid #d6e0e0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  margin: 0 0 15px 0;
  height: 50px;
  padding: 0 10px 0 10px;
  font-size: 16px;
  width: 100%; }
section.support form button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer; }
section.support form textarea {
  border: 1px solid #d6e0e0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background: transparent;
  width: 100%;
  box-sizing: border-box;
  height: 140px;
  margin: 10px 0 20px 0;
  font-size: 16px;
  color: #2d3b43;
  padding: 10px 10px 10px 10px; }
section.support .form-errors {
  color: red;
  margin: 0 0 20px 0; }
  section.support .form-errors.hidden {
    display: none; }
  section.support .form-errors .errors {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 10px 10px 10px; }
section.support .confirmation {
  margin: 0 0 20px 0;
  background-color: #06c026;
  color: white; }
  section.support .confirmation.hidden {
    display: none; }
  section.support .confirmation div {
    padding: 10px 10px 10px 10px; }

@media only screen and (max-width: 870px) {
  section.support .container {
    display: block; }
  section.support .left, section.support .right {
    display: block;
    height: auto; }
  section.support .left {
    display: none;
    width: 100%;
    padding: 40px; }
  section.support .right {
    width: 100%;
    padding: 0 40px 40px 40px; }
    section.support .right h2 {
      display: inline-block;
      margin: 0 0 40px 0; } }
section.contact block {
  border-bottom: 1px solid #d6e0e0; }
  section.contact block.no-border {
    border-bottom: none; }
section.contact .container {
  width: 100%;
  max-width: 1000px;
  display: table;
  margin: 0 auto; }
section.contact .left, section.contact .right {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 200px; }
section.contact .left {
  width: 40%; }
section.contact .right {
  width: 60%; }
  section.contact .right .comment {
    font-size: 16px;
    margin: 0 0 20px 0;
    opacity: 0.8; }
  section.contact .right .email a {
    font-size: 22px;
    color: #06c026;
    text-decoration: underline; }
  section.contact .right.mailing {
    font-size: 18px; }
    section.contact .right.mailing img {
      vertical-align: middle;
      margin: -4px 8px 0 0; }
section.contact h2 {
  padding: 10px 25px;
  color: white;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  display: inline-block;
  font-weight: 200; }
  section.contact h2.sales {
    background-color: #f15770; }
  section.contact h2.general {
    background-color: #5e96f5; }
  section.contact h2.mailing {
    background-color: #7965df; }

@media only screen and (max-width: 780px) {
  section.contact .container {
    display: block; }
  section.contact .left, section.contact .right {
    display: block;
    height: auto; }
  section.contact .left {
    width: 100%;
    padding: 40px; }
  section.contact .right {
    width: 100%;
    padding: 0 40px 40px 40px; } }
section.tos .container {
  max-width: 800px;
  margin: 50px auto 50px auto;
  font-size: 16px;
  line-height: 1.4em; }
  section.tos .container h2 {
    margin: 1em 0;
    font-size: 26px; }

section.header.slack .l2 {
  margin: 15px auto 0 auto;
  max-width: 680px;
  color: #646669; }
section.header.slack .slack-logo {
  width: 53.5px;
  margin: 0 auto 34px auto; }
section.header.slack .container {
  padding-top: 0; }

section.slack block {
  padding: 50px 0 50px 0;
  display: table;
  width: 100%; }
section.slack .left {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
section.slack .right {
  display: table-cell;
  width: 50%;
  text-align: center;
  vertical-align: middle; }
section.slack .desc {
  line-height: 1.5em;
  font-size: 17px; }
section.slack .get-started {
  width: 305px;
  margin: 0 auto;
  font-size: 15px; }
  section.slack .get-started .submit {
    width: 140px;
    height: 36px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    display: inline-block;
    text-align: center;
    padding: 10px;
    background-color: #399cf9;
    color: white;
    margin: 0 0 0 15px; }

@media only screen and (max-width: 780px) {
  section.slack block {
    display: block; }
  section.slack .left {
    width: 100%;
    display: block; }
  section.slack .right {
    display: block;
    width: 100%; } }
section.row-create {
  overflow: hidden;
  background-color: #FFFFFF;
  border-top: 1px solid #E8E8E8; }
  section.row-create .right .container {
    margin-left: 20px;
    max-width: 430px; }
    section.row-create .right .container h2 {
      text-align: left; }
    section.row-create .right .container .desc {
      text-align: left; }

@media only screen and (max-width: 780px) {
  section.row-create .left .container {
    max-width: 100%; }
  section.row-create .right {
    margin-left: 0;
    margin-top: 20px; }
    section.row-create .right .container {
      max-width: 100%; }
      section.row-create .right .container h2 {
        text-align: center; }
      section.row-create .right .container .desc {
        text-align: center; } }
section.insights-1 {
  background-color: #7368c7; }
  section.insights-1 block {
    padding: 0; }
  section.insights-1 .left {
    color: white; }
    section.insights-1 .left .container {
      width: 460px;
      margin: 0 auto; }
      section.insights-1 .left .container h2 {
        text-align: left;
        max-width: 360px; }
      section.insights-1 .left .container .desc {
        text-align: left;
        max-width: 400px; }
  section.insights-1 .right {
    text-align: left; }
    section.insights-1 .right img {
      margin: -31px 0 -3px 0; }

@media only screen and (max-width: 780px) {
  section.insights-1 block {
    padding: 50px 0; }
  section.insights-1 .left .container {
    width: auto;
    max-width: 100%; }
    section.insights-1 .left .container h2 {
      text-align: center;
      max-width: 100%; }
    section.insights-1 .left .container .desc {
      text-align: center;
      max-width: 100%; }
  section.insights-1 .right {
    text-align: center; }
    section.insights-1 .right img {
      margin: 0; } }
section.insights-2 {
  background-color: #FFFFFF; }
  section.insights-2 .gd-icon-notification {
    font-size: 30px;
    color: #979797; }
  section.insights-2 block {
    text-align: center; }
    section.insights-2 block .container {
      max-width: 673px;
      margin: 0 auto; }
    section.insights-2 block h2 {
      margin: 10px 0 30px 0; }

section.integrate {
  color: white;
  background-color: #54a6f9; }
  section.integrate block {
    padding-bottom: 0;
    text-align: center; }
    section.integrate block:nth-child(n+3) {
      padding-bottom: 50px; }
    section.integrate block p {
      max-width: 250px;
      margin: 10px auto 0 auto;
      font-size: 15px;
      line-height: 1.4em; }
    section.integrate block.border {
      border-bottom: 1px solid #68b0f9; }
  section.integrate .left {
    padding-left: calc(50% - 363px); }
  section.integrate .right {
    padding-right: calc(50% - 363px); }
  section.integrate p.learn {
    max-width: 100%;
    font-size: 18px;
    margin: 0; }
    section.integrate p.learn a {
      color: white;
      text-decoration: underline; }

@media only screen and (max-width: 780px) {
  section.integrate .left {
    padding: 0; }
  section.integrate .right {
    margin-top: 30px;
    padding: 0; } }

/*# sourceMappingURL=main.css.map */
