
section.insights-1 {

  block {
    padding: 0;
  }

  background-color: #7368c7;

  .left {
    color: white;
    .container {
      width: 460px;
      margin: 0 auto;
      h2 {
        text-align: left;
        max-width: 360px;
      }
      .desc {
        text-align: left;
        max-width: 400px;
      }
    }

  }
  .right {

    text-align: left;
    img {
      margin: -31px 0 -3px 0;
    }

  }
}


@media only screen and (max-width: 780px) {
  section.insights-1 {

    block {
      padding: 50px 0;
    }
    .left {
      .container {
        width: auto;
        max-width: 100%;
        h2 {
          text-align: center;
          max-width: 100%;
        }
        .desc {
          text-align: center;
          max-width: 100%;
        }
      }
    }
    .right {
      text-align: center;
      img {
        margin: 0;
      }
    }
  }
}