
section.insights-2 {

  background-color: #FFFFFF;

  .gd-icon-notification {
    font-size: 30px;
    color: #979797;
  }

  block {

    text-align: center;

    .container {
      max-width: 673px;
      margin: 0 auto;
    }

    h2 {
      margin: 10px 0 30px 0;
    }

  }

}
