
section.integrate {

  color: white;
  background-color: #54a6f9;

  block {
    padding-bottom: 0;
    text-align: center;
    &:nth-child(n+3) {
      padding-bottom: 50px;
    }

    p {
      max-width: 250px;
      margin: 10px auto 0 auto;
      font-size: $font-size-middle;
      line-height: 1.4em;
    }

    &.border {
      border-bottom: 1px solid #68b0f9;
    }
  }

  .left {
    padding-left: calc(50% - 363px);
  }
  .right {
    padding-right: calc(50% - 363px);
  }

  p.learn {
    max-width: 100%;
    font-size: $font-size-even-bigger;
    margin: 0;
    a {
      color: white;
      text-decoration: underline;
    }
  }


}


@media only screen and (max-width: 780px) {
  section.integrate {

    .left {
      padding: 0;
    }
    .right {
      margin-top: 30px;
      padding: 0;
    }
  }
}

