
section.row-create {
  overflow: hidden;

  background-color: #FFFFFF;
  border-top: 1px solid #E8E8E8;

  .left {


  }
  .right {
    .container {
      margin-left: 20px;
      max-width: 430px;

      h2 {
        text-align: left;
      }
      .desc {
        text-align: left;
      }
    }

  }
}

@media only screen and (max-width: 780px) {
  section.row-create {
    .left {
      .container {
        max-width: 100%;
      }
    }
    .right {
      margin-left: 0;
      margin-top: 20px;
      .container {
        max-width: 100%;
        h2 {
          text-align: center;
        }
        .desc {
          text-align: center;
        }
      }
    }
  }
}