

section.header.slack {

  .l2 {
    margin: 15px auto 0 auto;
    max-width: 680px;
    color: #646669;
  }
  .slack-logo {
    width: 53.5px;
    margin: 0 auto 34px auto;
  }
  .container {
    padding-top: 0;
  }
}

section.slack {

  block {
    padding: 50px 0 50px 0;
    display: table;
    width: 100%;
  }

  .left {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .right {
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle;
  }

  .desc {
    line-height: 1.5em;
    font-size: 17px;
  }

  .get-started {
    width: 305px;
    margin: 0 auto;
    font-size: $font-size-middle;
    .submit {
      width: 140px;
      height: 36px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      display: inline-block;
      text-align: center;
      padding: 10px;
      background-color: #399cf9;
      color: white;
      margin: 0 0 0 15px;
    }
  }
}

@media only screen and (max-width: 780px) {
  section.slack {

    block {
      display: block;
    }

    .left {
      width: 100%;
      display: block;
    }

    .right {
      display: block;
      width: 100%;

    }

  }
}

@import "row_create";
@import "row_insights_1";
@import "row_insights_2";
@import "row_integrate";