section.pricing {

  margin: 4px 0;
  font-size: $font-size-bigger;
  color: #383a3b;
  padding-bottom: 75px;
  .c1, .c2, .c3 {
    width: 350px;
    float: left;
    box-shadow: 0 1px 10px 0 rgba(94,108,116, 0.1), 0 9px 95px 0 rgba(94,108,116, 0.1);
    background-color: #fff;
    border-radius: 5px;
  }

  .c1, .c2 {
    margin: 0 30px 0 0;
  }

  .plan {
    min-height: 290px;
    text-align: center;
    overflow: auto;
    color: white;
    font-weight: 200;
    h1{
      
    }
    h2 {
      text-transform: capitalize;
      margin: 65px 0 0 0;
      font-size: 22px;
      font-weight: 700;
      position: relative;
      line-height: 50px;
    }

    .users {
      color: #a2a9ac;
      font-size: 20px;
      margin-top: 15px;
    }

    .desc {
      // margin: 40px 40px 0 40px;
      padding: 0 40px;
      line-height: 1.5;
      font-size: 17px;
      margin-top: 32px;
      &__helper{
        display: inline-block;
      }
    }

  }

  .features {
    padding: 30px;
  }
  .plan{
    color: #000;
    border-bottom: 3px solid #ccc;
    padding-bottom: 44px;
  }
  .c1 {
    .plan {
      border-color: $color-green;
    }
  }

  .c2 {
    .plan {
      border-color: $color-blue;
    }
  }

  .c3 {
    .plan {
      border-color: #798992;
    }
  }

  ul {

    li {

      list-style: none;
      position: relative;
      // line-height: 2em;
      font-size: 15px;
      line-height: 25px;  
      margin-bottom: 10px;
      &:before {
        content: '';
        background-image: url(../img/pricing/li-green.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 14px;
        height: 11px;
        position: absolute;
        left: -29px;
        top: 5px;
      }

    }
  }


  .price {
    text-align: center;
    margin: 27px 0 22px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    span{
      font-size: 28px
    }
    &__icon{
      height: auto;
      vertical-align: middle;
      margin-top: -6px;
      margin-right: 13px
    }
  }

  .action {
    text-align: center;
  }

  .btn {
    height: 38px;
    line-height: 38px;
    width: 120px;
    @include border-radius(3);
    display: inline-block;
    text-align: center;
    padding: 0;
    white-space: nowrap;
    color: white;
    font-size: 15px;
    font-weight: 600;

    &.start1 {
      background-color: $color-green;
    }

    &.start2 {
      background-color: $color-blue;
    }

    &.contact {
      background-color: #5a7787;
    }
  }
  .time{
    text-align: right;
    font-size: 0;
    padding-right: 13px;
    margin-bottom: 27px;
    &__link{
      display: inline-block;
      text-align: center;
      font-size: 13px;
      line-height: 24px;
      border-radius: 12px;
      color: #5a5e61;
      font-weight: 600;
      width: 80px;
      margin-left: 10px;
      border: 1px solid transparent;
      &.active, &:hover{
        color: #383a3b;
        border: 1px solid #798992;
        font-weight: 700;
        background-color: #fff
      }

    }
      
  }

}

.pricing.mounth .year, .pricing.year .mounth{
  display: none;
}
@media only screen and (max-width: 1200px) {
  section.pricing {
    text-align: center;
    font-size: 0;
    .c1, .c2, .c3 {
      width: 30%;
      min-width: 300px;
      margin: 0 5px;
      display: inline-block;
      float: none;
      vertical-align: top;
      text-align: left;
    }
  }
}
@media only screen and (max-width: 1000px) {
  section.pricing {
    padding-bottom: 20px;
    .c1, .c2, .c3 {
      width: 100%;
      float: none;
      max-width: 600px;
      margin: 0 auto 40px auto;
    }
    .desc{
    }
  }
}