section.support {

  block {
    padding: 60px 0 60px 0;
  }

  .container {
    width: 100%;
    max-width: 1000px;
    display: table;
    margin: 0 auto;
  }

  .left, .right {
    display: table-cell;
    text-align: center;
    vertical-align: top;
  }

  .left {
    width: 50%;
  }

  .right {
    width: 50%;

    h2 {
      display: none;
    }
  }

  h2 {
    padding: 10px 25px;
    color: white;
    @include border-radius(4);
    display: inline-block;
    font-weight: 200;
    background-color: #5e96f5;
    font-size: 26px;
  }

  .gd-icon-arrow-long-right {
    display: inline-block;
    color: #5e96f5;
    margin: 0 0 0 20px;
    font-size: 20px;
  }

  .l2, .l3 {
    font-size: $font-size-even-bigger;
    opacity: 0.8;
    padding: 0 40px 0 0;
  }

  .l2 {
    margin: 30px 0 30px 0;
  }

  .l3 {
    a {
      color: $color-blue;
      font-size: 22px;
      text-decoration: underline;
    }
  }

  form {
    input {
      border: 1px solid $color-border;
      @include border-radius(3);
      margin: 0 0 15px 0;
      height: 50px;
      padding: 0 10px 0 10px;
      font-size: 16px;
      &::-webkit-input-placeholder {
        //color: #2d3b43;
        //opacity: 1;
      }

      width: 100%;
    }

    button {
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }

    textarea {

      border: 1px solid $color-border;
      @include border-radius(3);
      background: transparent;
      width: 100%;
      box-sizing: border-box;
      height: 140px;
      margin: 10px 0 20px 0;
      font-size: 16px;
      color: #2d3b43;
      padding: 10px 10px 10px 10px;

    }
  }

  .form-errors {
    color: red;
    margin: 0 0 20px 0;
    &.hidden {
      display: none;
    }

    .errors {
      background-color: rgba(255,255,255,0.8);
      padding: 10px 10px 10px 10px;
    }
  }

  .confirmation {
    margin: 0 0 20px 0;
    background-color: $color-green;
    color: white;

    &.hidden {
      display: none;
    }
    div {
      padding: 10px 10px 10px 10px;
    }
  }

}




@media only screen and (max-width: 870px) {
  section.support {

    .container {
      display: block;
    }

    .left, .right {
      display: block;
      height: auto;
    }

    .left {
      display: none;
      width: 100%;
      padding: 40px;
    }

    .right {

      h2 {
        display: inline-block;
        margin: 0 0 40px 0;
      }

      width: 100%;
      padding: 0 40px 40px 40px ;

    }

  }
}



