// section.big-screen {

//   height: 770px;
//   background: url("../img/home/screens/bg-office.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;


//   block {
//     height: 100%;
//     width: 100%;
//     padding: 150px 0 150px 0;
//   }

//   .c-4-left, .c-6-right {
//     vertical-align: top;
//   }

//   .c-4-left {
//     padding: 10px 15px 0 0;
//     vertical-align: text-top;
//   }

//   .c-6-right {
//     img {
//       width: 100%;
//       max-width: 714px;
//     }
//   }


//   h2 {
//     margin: 20px 0 30px 0;
//   }

//   .container {
//     color: white;
//     padding: 40px 40px 40px 40px;
//     height: 385px;
//     width: 100%;
//     background-color: #f5b226;
//     text-align: center;

//     p {
//       text-align: left;
//       opacity: 1;
//       line-height: 1.5em;
//       font-size: 17px; //$font-size-bigger;
//       font-weight: 200;
//     }

//   }

//   .learn-more {
//     a {
//       color: white;
//       font-weight: 200;
//       font-size: $font-size-bigger;
//       border-bottom: 1px solid rgba(255,255,255,0.5);
//     }
//   }
  
// }


// @media only screen and (max-width: 780px) {
//   section.big-screen {

//     height: auto;

//     .container {
//       height: auto;
//     }

//     block {
//       display: block;
//       padding: 40px 0 20px 0;
//     }

//     .c-4-left, .c-4-right {
//       width: 100%;
//       display: block;
//       padding: 0 0 0 0;
//     }
//   }

// }

.bigScreen
  background-color: #efefef
  &__content
    padding-bottom: 60px
    padding-top: 60px
  &__list
    @include clearfix()
  &__item
    max-width: 536px
    width: 49%
    background-color: #fff
    text-align: center
    padding-top: 5px
    border-radius: 3px
    box-shadow: 0 1px 8px 0 #ccc
    padding-bottom: 50px
    min-height: 710px
    float: left
    &:last-child
      float: right
  &__img
    max-width: 100%
    height: auto
  &__icon
    vertical-align: middle
  &__iconWrap
    height: 60px
    line-height: 60px
    display: inline-block
    margin-top: 22px
  &__title
    font-size: 34px
    font-weight: 600
    margin-bottom: 32px
    display: block
  &__p
    font-size: 17px
    line-height: 1.5
    padding: 0 40px
    margin: 10px 0 0

@media only screen and (max-width: 900px)
  .bigScreen
    &__item
      padding-bottom: 40px

@media only screen and (max-width: 780px)
  .bigScreen
    &__item
      // padding-bottom: 40px
      float: none
      width: 100%
      margin: 0 auto 20px
      height: auto
      min-height: 0
      padding-bottom: 30px
      &:last-child
        float: none
    &__title
      margin-bottom: 20px
    &__p
      line-height: 1.2
      padding: 0 15px
