section.clients {

  // background-color: $color-gray;
  height: 160px;
  border-bottom: 1px solid #e2e2e2;

  block {
    text-align: center;
    overflow: hidden;

    img {
      margin: 54px 0 0 0;
      max-width: 100%;
      height: auto;
      // width: 100%;
    }
  }


}

@media only screen and (max-width: 780px) {
  section.clients {
    display: none;
  }
}