section.home {

  // font-size: $font-size-even-bigger;
  font-size: 19px;
  background-color: #fff;

  &.gray {
    .separator {
      border-top: 1px solid $color-border;
    }
  }

  h2 {
    margin: 0 0 45px 0;
    font-weight: bold;
    font-size: 36px;
  }

  .content {
    line-height: 1.5em;
  }

  block {
    padding: 70px 0 52px 0;
    display: table;
    border-bottom: 2px solid #f4f4f4;
  }

  .icons{
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 50px;
    &__item{
      display: inline-block;
      width: 50px;
      position: relative;
      vertical-align: middle;
      margin: 0 23px;
      &:last-child{
        &:after{
          display: none;
        }
      }
      &:after{
        content: '+';
        position: absolute;
        display: inline-block;
        right: -30px;
        top: 0;
        color: #b5babd;
        font-weight: bold;
        font-size: 24px
      }
      img{
        // max-width: 100%; 
        vertical-align: middle
      }
    }
  }

  .learn-more {

    .gd-icon-arrow-long-right {
      @include size(14,14);
      font-size: 14px;
      display: inline-block;
      margin: -1px 0 0 5px;
      vertical-align: middle;
    }

    a {
      border-bottom: 1px solid;
    }

  }


  .tags {
    font-size: $font-size-bigger;
    text-align: center;
    margin-top: 30px;
    .tag {
      display: inline-block;
      @include border-radius(17);
      background-color: white;

      height: 33px;
      line-height: 33px;
      padding: 2px 15px 0 15px;
      margin: 0 4px 15px;
      box-shadow: 0 2px 16px rgba(137, 142, 145, 0.11);
      color: #5a5e61;
      font-size: 15px;
      font-weight: 600;
    }
  }


  .c-4-left {
    width: 41.5%;
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding-top: 84px;
  }

  .c-6-right {
    // width: 60%;
    display: table-cell;
  }

  .c-6-left {
    width: 60%;
    display: table-cell;
  }

  .c-4-right {
    width: 40%;
    padding: 0 50px 0 0;
    display: table-cell;
    vertical-align: middle;
  }

  .c-55-left {
    width: 55%;
    float: left;
  }

  .c-45-right {
    width: 45%;
    float: right;
  }



  .c-45-left {
    width: 45%;
    float: left;

  }

  .c-55-right {
    width: 55%;
    float: right;
  }

}



@media only screen and (max-width: 780px) {
  section.home {

    block {
      display: block;
      padding: 50px 0 50px 0;
    }
    h2{
      font-size: 30px;
      margin-bottom: 10px;
    }
    .content{
      font-size: 18px;
      line-height: 1.4;
    }
    .c-4-left, .c-4-right, .c-6-left {
      width: 100%;
      display: block;
      padding: 0 0 0 0;
    }

    .c-6-right, .c-6-left.mobile  {
      padding: 10px 0 0 0;
    }

    .separator, .tags {
      display: none;
    }
    
    .icons__item{
      margin: 0
    }
  }

}


@import "main_banner";
@import "clients";

@import "big_screen";
@import "more";
@import "planning";
@import "visualize";
@import "wigd";
@import "numbers";
@import "visualize";
@import "reviews";