section.header-main {
  background-color: transparent;
  height: 478px;
  background-repeat: no-repeat;
  background-image: url("../img/home/header_main.jpg");
  background-size: 682px 230px;
  background-position: center bottom;
  text-align: center;
  padding-top: 133px;
  block {
    overflow:auto;
  }

  .messaging {
    // margin: 90px 0 0 180px;
    font-weight: 300;
  }

.header-main{
  &__h1{
    color: #383a3b;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    text-transform: none;
  }
  &__subtitle{
    color: #646669;
    font-size: 29px;
    font-weight: 400;
    line-height: 35px;
    margin: 0;
    margin-top: 10px;
  }
}
  // .l1,.l2,.l3 {
  //   line-height: 48px;
  //   letter-spacing: 0.2px;
  //   color: white;
  // }

  // .l1, .l2 {
  //   font-size: 32px;
  // }

  // .l3 {
  //   font-size: 22px;

  //   span{
  //     color: #1ddb1f;
  //   }
  // }

  form {
    margin: 49px 0 0 0;
    display: inline-block;
    font-size: 0
  }

  input {
    width: 385px;
    font-size: 16px;
    vertical-align: top;
    box-shadow: 0 5px 48px 0 rgba(94,108,116, 0.08), 0 1px 5px 0 rgba(94,108,116, 0.08) ;

  }

  .submit {
    @include size(120,38);
    @include border-radius(3);
    display: inline-block;
    text-align: center;
    padding: 11px 0 11px;
    background-color: $color-blue;
    color: white;
    margin: 0 0 0 23px;
    font-size: 15px;
    vertical-align: top;
  }

  .free {
    color: white;
    margin: 0px 0 0 10px;
    font-size: $font-size-bigger;
    letter-spacing: 0.3px;
    text-align: left;
    padding-left: 7px;
    opacity: 0.8;
    color: #383a3b;
    font-size: 14px;
    line-height: 50px;
  }

}




@media only screen and (max-width: 780px) {
  section.header-main {

    background-image: none;
    height: auto;
    padding-top: 40px;
    padding-bottom: 20px;

.header-main{
  &__h1{
    font-size: 30px;
    line-height: 1.2;
  }
  &__subtitle{
    font-size: 24px;
    line-height: 1.2;
    margin-top: 10px;
  }
}
    .messaging {
      // margin: 80px auto 0 auto;
      // display: inline-block;
    }
    form{
      width: 100%;
      max-width: 400px;
    }
    input {
      width: calc(100% - 112px); //205px;
    }
    .submit{
      width: 94px;
      margin-left: 15px;
    }
    .free{
      text-align: center
    }
  }
}