// section.more {

//   block {
//     padding: 36px 0 36px 0;
//   }


//   .b {
//     width: calc(50% - 2px);
//     float: left;
//     margin: 0 0 4px 0;
//     padding: 80px 80px 80px 80px;
//     color: white;

//     .container {
//       @include vertical-align();
//     }

//     .left {
//       float: left;
//       width: calc(100% - 100px);
//     }

//     .right {
//       float: right;
//       width: 100px;
//     }

//   }

//   .b1, .b2, .b3, .b4 {
//     height: 420px;
//   }

//   .b1 {
//     background: url('../img/home/startup-ent.jpg');
//     background-size: 100% 100%;
//     position: relative;
//     text-align: center;

//     h1 {
//       margin: 0 0 0 0;
//     }

//     .l1, .l2 {
//       padding: 15px;
//       //font-size: 42px;
//       font-weight: 200;
//       background-color: #a458b0;
//       display: inline-block;
//     }

//     .l2 {
//       padding: 0 15px 15px 15px;
//     }


//     h1 {
//       background-color: #a458b0;
//       text-align: center;
//       padding: 15px;
//     }

//     .white-block {
//       height: 115px;
//       background-color: white;
//       color: $font-color-default;
//       width: 100%;
//       position: absolute;
//       bottom: 0;
//       left: 0;
//     }

//   }

//   .b2 {
//     background-color: #f76666;
//     float: right;

//     .ico {
//       margin: 105px 0 0 30px;
//     }
//   }

//   .b3 {
//     background-color: #7357cd;

//     .left {
//       float: left;
//       width: 100px;
//       .ico {
//         margin: 93px 0 0 -20px;
//       }
//     }

//     .right {
//       float: right;
//       width: calc(100% - 100px);
//     }
//   }

//   .b4 {
//     background-color: #8768c7;
//     float: right;
//     .ico {
//       margin: 95px 0 0 33px;
//     }

//   }

//   .b5 {
//     height: 700px;
//     background-color: #5d7cec;

//     ul {
//       opacity: 0.8;
//       line-height: 1.5em;
//     }
//   }

//   .b6 {
//     float: right;
//     height: 348px;
//     background: url('../img/home/integration.jpg');

//     .content {
//       //opacity: 1;
//     }
//   }

//   .b7 {
//     float: right;
//     height: 348px;
//     background-color: #5e96f5;
//   }

//   .integrations {
//     text-align: center;

//     div {
//       display: inline-block;
//       margin: 32px 2px;
//       width: 52px;
//       height: 52px;
//       background-size: 100%;
//       background-repeat: no-repeat;
//     }

//     .gdrive {
//       background-image: url("../img/home/ico-gdrive.png");
//     }
//     .dbox {
//       background-image: url("../img/home/ico-dbox.png");
//     }
//     .gmail {
//       background-image: url("../img/home/ico-gmail.png");
//     }
//     .slack {
//       background-image: url("../img/home/ico-slack.png");
//     }
//     .octocat {
//       background-image: url("../img/home/ico-octocat.png");
//     }

//   }

// }


// @media only screen and (max-width: 1000px) {

//   section.more {

//     block {
//       padding: 4px 0 0 0;
//       margin: 0 0 0 0 !important;
//       width: 100% !important;
//     }

//     .b {
//       width: 100%;
//       padding: 40px 20px;

//       .container {
//         @include vertical-align-none();
//       }

//       .left {
//         float: left;
//         width: 100%;
//       }

//       .right {
//         float: right;
//         width: 100%;
//       }

//     }

//     .b2, .b3, .b4 {
//       height: auto;
//     }



//     .b1 {

//       h1 {
//         margin: 0 0 0 0;
//       }

//       .white-block {
//         height: auto;
//         padding: 15px;
//       }

//     }

//     .b2, .b4 {
//       .right {
//         display: none;
//       }
//     }

//     .b3 {

//       .left {
//         display: none;
//       }

//     }

//     .b5, .b7 {
//       height: auto;
//     }
//     //
//     //.b6 {
//     //  float: right;
//     //  height: 348px;
//     //  background: url('../img/home/integration.jpg');
//     //
//     //  .content {
//     //    //opacity: 1;
//     //  }
//     //}
//     //
//     //.b7 {
//     //  float: right;
//     //  height: 348px;
//     //  background-color: #5e96f5;
//     //}
//     //
//     //.integrations {
//     //  text-align: center;
//     //
//     //  div {
//     //    display: inline-block;
//     //    margin: 32px 2px;
//     //    width: 52px;
//     //    height: 52px;
//     //    background-size: 100%;
//     //    background-repeat: no-repeat;
//     //  }
//     //
//     //  .gdrive {
//     //    background-image: url("../img/home/ico-gdrive.png");
//     //  }
//     //  .dbox {
//     //    background-image: url("../img/home/ico-dbox.png");
//     //  }
//     //  .gmail {
//     //    background-image: url("../img/home/ico-gmail.png");
//     //  }
//     //  .slack {
//     //    background-image: url("../img/home/ico-slack.png");
//     //  }
//     //  .octocat {
//     //    background-image: url("../img/home/ico-octocat.png");
//     //  }
//     //
//     //}

//   }

// }


.more
  background: #f2f2f2
  &__content
    padding-bottom: 50px
    padding-top: 75px
  &__list
  &__item
    max-width: 536px
    width: 49%
    float: left
    text-align: center
    background-color: #fff
    padding-bottom: 37px
    margin-bottom: 30px
    box-shadow: 0 1px 10px 0 rgba(94,108,116, 0.1), 0 9px 24px 0 rgba(94,108,116, 0.1)
    &:nth-child(1)
      height: 510px
    &:nth-child(2)
      height: 510px
    &:nth-child(3)
      height: 506px
    &:nth-child(4)
      height: 506px
    &:nth-child(odd)
      float: left
    &:nth-child(even)
      float: right
    &_buisness
      text-align: center
  &__img
    max-width: 100%
    height: auto
  &__imgFrameWork
    max-width: 90%
    height: auto
    margin-top: 45px
  &__title
    color: #2d2d2d
    font-size: 30px
    font-weight: 600
    line-height: 28px
    padding: 43px 20px 0
  &__text
    opacity: 0.88
    color: #383a3b
    font-size: 17px
    line-height: 24px
    padding: 27px 30px 0
  &__conList
    list-style-type: none
    display: inline-block
    padding: 0
    margin: 0
    text-align: left
    color: #383a3b
    font-size: 14px
    line-height: 23px
    margin-top: 28px
  &__conItem
    position: relative
    padding-left: 30px
    line-height: 2.1
    &:before
      content: ''
      display: inline-block
      width: 12px
      height: 21px
      position: absolute
      left: 0
      top: 50%
      margin-top: -2px
      transform: translateY(-50%)
      background: url(/site/assets/img/home/con_arrow.png) center no-repeat
      background-size: 6px 10px
  &__buisness
    display: inline-block
    margin-top: 35px
    height: auto
    max-width: 90%
.moreAlways
  background: url(/site/assets/img/home/iphone.png) right 11px bottom no-repeat
  background-size: 276px 313.5px
  background-color: #7368c7
  color: #fff
  text-align: left
  padding-top: 89px
  padding-left: 55px
  height: 372px
  &__title
    font-size: 30px
    font-weight: 600
    line-height: 27px
  &__text
    font-size: 17px
    line-height: 24px
    width: 190px
    margin-top: 23px

.moreInteg
  background: url(/site/assets/img/home/integ.jpg) center no-repeat
  background-size: cover
  color: #fff
  padding-top: 92px
  height: 372px
  &__title
    font-size: 30px
    font-weight: 600
    line-height: 27px
  &__text
    font-size: 17px
    line-height: 24px
    margin-top: 21px
  &__list
    list-style-type: none
    padding: 0
    margin: 0 
    margin-top: 44px
    font-size: 0
  &__item
    width: 71px
    height: 71px
    background-color: #fff
    border-radius: 50%
    background-repeat: no-repeat
    background-position: center
    margin: 0 10px
    display: inline-block
    // background-size: 50%
    &_gmail
      background-image: url(/site/assets/img/home/gmail.png)
      background-size: 41px 30px
    &_dbox
      background-image: url(/site/assets/img/home/dbox.png)
      background-size: 44px 43.5px
    &_google
      background-image: url(/site/assets/img/home/google.png)
      background-size: 44px 37.5px
    &_slack
      background-image: url(/site/assets/img/home/slack.png)
      background-size: 39.5px 39px
    &_calen
      background-image: url(/site/assets/img/home/calen.png)
      background-size: 40.5px 39px

@media only screen and (max-width: 1000px)
  .more
    &__conItem
      background-color: rgba(255,255,255, 0.8)

  .moreAlways
    background-image: none

  .moreInteg__item
    width: 60px
    height: 60px
    margin: 0 4px

@media only screen and (max-width: 780px)
  .more
    &__content
      padding-bottom: 20px
    &__item
      width: 100%
      max-width: 400px
      margin: 0 auto 30px
      height: auto !important
      &:nth-child(odd)
        float: none
      &:nth-child(even)
        float: none

  .moreInteg__item
    width: 45px
    height: 45px
    margin: 0 3px 10px
    background-size: 65%
    // &_gmail
    // &_dbox
    //   background-size: 44px 43.5px
    // &_google
    //   background-size: 44px 37.5px
    // &_slack
    //   background-size: 39.5px 39px
    // &_calen
    //   background-size: 40.5px 39px