.numbers
	background-color: #fff
	padding-top: 60px
	padding-bottom: 61px
	border-bottom: 2px solid #eaeaea
	font-size: 0
	&__list
		list-style-type: none
		text-align: justify
		color: #adb3b5
		padding: 0 65px
		&:after
			content: ''
			display: inline-block
			font-size: 0
			line-height: 0
			height: 0
			width: 100%
	&__item
		display: inline-block
		text-align: left
		margin: 0 10px
	&__icon
		display: inline-block
		margin-right: 15px
		vertical-align: middle
		margin-top: -4px
	&__num
		vertical-align: middle
		text-transform: uppercase
		display: inline-block
		font-weight: 300
		font-size: 34px
		color: rgba(56,58,59, 0.86)
	&__name
		display: block
		font-size: 16px
		color: #3e4346
		text-align: center
		margin-top: 4px
	&__border
		display: none
		height: 2px
		background-color: #f4f4f4
		width: 100%
	&__plus
		margin: 0 0 0 5px
		font-size: 28px

@media(max-width: 900px)
	.numbers
		&__list
			padding: 0 30px

@media(max-width: 780px)
	.numbers
		&__item
			margin-bottom: 15px
@media(max-width: 500px)
	.numbers
		padding: 0 0 0 0
		&__list
			padding: 0 0px
			text-align: justify
		&__item
			margin-bottom: 15px
			text-align: center
			display: inline-block
			width: 120px
			margin-top: 33px
			margin-bottom: 30px
		&__icon
			margin-right: 5px
		&__num
			font-size: 22px
			display: block
			margin-top: 6px
		&__plus
			font-size: 20px
		&__name
			margin-top: 1px
			font-size: 14px
		&__border
			display: inline-block
			