section.home.planning {
  background-color: #f9fafa;
  padding-bottom: 95px;
  h2{
    text-align: center;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 33px
  }
  .subtitle{
    max-width: 730px;
    margin: 0 auto;
    text-align: center;
    color: #3e4346;
  }

  .c-6-left.mobile {
    display: none;
  }
  block{
    padding-top: 90px;
    padding-bottom: 0;
    display: block;
    border: none;
  }
  .planning{
    &__imgWrap{
      margin-top: 42px;
      width: 100%;
      text-align: justify;
      font-size: 1px;
      &:after{
        content: ' ';
        display: inline-block;
        width: 100%;
        height: 0;
        line-height: 0;
      }
    }
    &__img{
      display: inline-block;
    //   display: block;
    //   float: left;
    //   max-width: 536.5px;
      height: auto;
    //   width: 49%;
      box-shadow: 0 0px 5px 0 rgba(104,115,134, 0.1);
    //   &:nth-child(even){
    //     float: right;
    //   }
    }
  }
  .steps{
    text-align: justify;
    max-width: 920px;
    margin: 0 auto;
    margin-top: 96px;
    font-size: 1px;
    &:after{
      display: inline-block;
      width: 100%;
      content: ' ';
      height: 0;
      line-height: 0;
      overflow: hidden;
    }
    &__item{
      display: inline-block;
      width: 56px;
      height: 56px;
      background-color: #a2a9ac;
      border-radius: 50%;
      position: relative;
      &:before{
        content: ' ';
        display: block;
        width: 210px;
        height: 1px;
        background-color: #a2a9ac;
        position: absolute;
        right: -220px;
        top: 50%;
      }
      &:after{
        content: ' ';
        display: block;
        width: 10px;
        position: absolute;
        height: 7px;
        right: -228px;
        top: 50%;
        background: url(/site/assets/img/home/p_arrow.png);
        background-size: cover;
        margin-top: -3px;
      }
      &.last{
        background-color: #06c026;
        &:after{
          display: none;
        }
        &:before{
          display: none;
        }
      }
    }
    &__img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: auto;
    }
  }
}
@media (max-width: 1200px){
  section.home.planning {
    .planning{
      &__imgWrap{
        text-align: center;
      }
      &__img{
        margin: 20px 60px;
      }
    }
  }
}

@media (max-width: 991px){
  section.home.planning {
    .steps{
        max-width: 710px;
      &__item{
        &:before{
          width: 140px;
          right: -148px;
        }
        &:after{
          right: -157px;
        }
      }
    }
    .planning{
      // &__imgWrap{
      //   text-align: center;
      // }
      &__img{
        margin: 20px 40px;
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  section.home.planning {
    padding-bottom: 40px;
    block{
      padding-top: 40px;
    }
    .c-6-left {
      display: none;
    }

    .c-6-left.mobile {
      display: block;
    }

    .steps{
        max-width: 540px;
        margin-top: 25px;
        &__item{
          &:before{
            width: 86px;
            right: -94px;
          }
          &:after{
            right: -99px;
          }
        }
      }
      .planning{
        // &__imgWrap{
        //   text-align: center;
        // }
        &__img{
          margin: 20px 5px;
        }
      }
    
  }
}

@media only screen and (max-width: 600px) {
  section.home.planning {
    .steps{
        max-width: 540px;
        margin-top: 25px;
        &__item{
          &:before{
            display: none;
          }
          &:after{
            display: none;
          }
        }
      }
      .planning{
        // &__imgWrap{
        //   text-align: center;
        // }
        &__img{
          display: block;
          margin: 20px auto;
          width: 96%;
          max-width: 253px;
        }
      }
  }
}