.reviews
	background: url(/site/assets/img/home/reviews_bg.jpg)
	background-repeat: no-repeat
	background-size: cover
	&__content
		padding-top: 60px
		padding-bottom: 70px
	&__h2
		color: #fff
		text-align: center
	&__list
		margin: 47px -7.5px 0
	&__item
		background-color: #fafbfb
		width: 360px
		text-align: center
		color: #383a3b
		padding: 45px 20px 25px 28px  
		margin: 0 7.5px
		float: left
		box-shadow: 1px 0 10px 0 rgba(94,108,116, 0.2)
		min-height: 480px
	&__imgWrap
		display: inline-block
		border-radius: 50%
		overflow: hidden
	&__img
		display: block
	&__name
		font-size: 16px
		font-weight: 400
		line-height: 25px
		margin-top: 14px
		text-align: right
	&__source
		text-align: center
		img
			width: 120px
			display: inline-block
	&__title
		color: #383a3b
		font-size: 19px
		font-weight: 600
		line-height: 22px
		font-style: italic
		padding: 0 20px
		margin-top: 26px
		min-height: 44px
	&__text
		text-align: left
		font-size: 16px
		line-height: 26px
		font-style: italic
		font-weight: normal
		margin-top: 20px
	&__stars
		color: #686d6f
		font-size: 16px
		line-height: 26px
		text-align: left
		margin: 0 0 10px 0
		text-align: center
		// padding-left: 80px
		&:before
			content: ''
			width: 80px
			height: 13.5px
			display: inline-block
			margin-right: 10px
		&.score-5
			&:before
				background: url(/site/assets/img/home/reviews/score-5.png) left center no-repeat
				background-size: cover
		&.score-4
			&:before
				background: url(/site/assets/img/home/reviews/score-4.png) left center no-repeat
				background-size: cover

	&__prev
		position: absolute
		z-index: 100
		top: 50%
		left: -45px
		transform: translateY(-50%)
		width: 13px
		height: 21px
		background: transparent
		border: none
		background: url(/site/assets/img/home/rev_parrow.png)
		background-size: cover
		outline: none
		cursor: pointer
	&__next
		@extend .reviews__prev
		left: auto
		right: -45px
		background: url(/site/assets/img/home/rev_narrow.png)
		background-size: cover

@media(max-width: 1300px)
	.reviews
		&__list
			padding: 0 50px
		&__prev
			left: 10px
		&__next
			left: auto
			right: 10px

@media(max-width: 780px)
	.reviews
		&__content
			padding-top: 30px
			padding-bottom: 30px
		&__list
			margin-top: 20px
		&__item
			padding-top: 25px
			padding-bottom: 20px
		&__text
			font-size: 16px
			line-height: 1.2
			margin-top: 10px
		&__list
			padding: 0 15px
		&__prev
			left: 00px
		&__next
			left: auto
			right: 0px