.visualize
  background-color: #fff
  padding-top: 80px
  &__content
    text-align: center
  &__h2
    margin-top: 18px
  &__subtitle
    max-width: 718px
    display: inline-block
    margin-top: 28px
  &__tabs
    color: #5a5e61
    font-weight: 600
    font-size: 16px
    width: 100%
    display: table
    line-height: 1.6
    margin-top: 60px
  &__item
    display: table-cell
    text-align: center
    padding-bottom: 15px
    position: relative
    cursor: pointer
    &.active, &:hover
      // font-weight: 700
      color: #383a3b
      &::after
        content: ''
        display: block
        width: 100%
        height: 2px
        position: absolute
        bottom: -2px
        left: 0
        background-color: #399cf9
  &__helper
    border-top: 2px solid #e3e5e6
    border-bottom: 1px solid #eaeaea
    background: #f9fafa
    padding-top: 45px
    padding-bottom: 90px
  &__tabContent
    @include clearfix()
    display: none
    &.active
      display: block
  &__imgWrap
    float: left
    width: 57%
    padding: 25px 0
  &__img
    border: 1px solid #dedede
    border-radius: 3px 3px 0px 0px
    max-width: 100%
    height: auto
    display: block
    box-shadow: -2px 4px 38px 0 rgba(104,115,134, 0.2)
  &__info
    width: 43%
    float: left
    padding-left: 40px
    padding-top: 50px
    text-align: center
  &__infoTitle
    color: #383a3b
    font-size: 24px
    font-weight: 600
    line-height: 48px
  &__infoText
    color: #3e4346
    font-size: 17px
    line-height: 25px
    margin-top: 10px
  &__more
    text-decoration: underline
    display: inline-block
    position: relative
    color: #5a5e61
    &::after
      content: '→'
      display: inline-block
      position: absolute
      top: 0
      right: -25px
  &__start
    @include size(155,38)
    @include border-radius(3)
    display: inline-block
    text-align: center
    // padding: 11px 0 11px
    line-height: 38px
    background-color: $color-blue
    color: white
    font-size: 15px
    background-color: #399cf9
    border-radius: 5px
    margin-top: 25px
  &__slide
    outline: none
    overflow: hidden
  &__dots
    list-style-type: none
    padding: 0
    font-size: 0
    position: absolute
    bottom: -45px
    left: 50%
    transform: translateX(-50%)
    li
      display: inline-block
      margin: 0 3px
      &.slick-active
        button
          background-color: #7a7d80
      button
        display: block
        padding: 0
        background: red
        border: none
        outline: none
        width: 8px
        height: 8px
        background-color: #dedede
        border-radius: 50%

@media only screen and (max-width: 900px)
  .visualize
    &__tabs
      font-size: 14px

@media only screen and (max-width: 780px)
  .visualize
    padding-top: 40px
    &__tabs
      display: block
    &__item
      width: 33.3333%
      float: left
      display: block
      padding: 0
      line-height: 30px
      border-radius: 3px
      &.active, &:hover
        color: #fff
        background-color: #399cf9
        &:after
          display: none
    &__tabContent
      text-align: center
    &__imgWrap
      float: none
      width: auto
      display: inline-block
      margin: 0 auto
      text-align: center
    &__img
      // display: inline-block
    &__info
      width: 100%
      text-align: left
      padding-left: 0
      padding-top: 15px
    &__infoText
      font-size: 15px
      line-height: 1.3
    &__helper
      padding-bottom: 40px
    &__dots
      bottom: -25px


@media only screen and (max-width: 780px)
  .visualize
    &__tabs
      display: block
      margin-bottom: 20px
      margin-top: 40px
    &__item
      width: 50%
      line-height: 30px

      border-radius: 3px
      &.active, &:hover
        color: #fff
        background-color: #399cf9
        &:after
          display: none

//@media only screen and (max-width: 500px)
//  .visualize
//    &__tabs
//      display: block
//      margin-bottom: 20px
//      margin-top: 40px
//    &__item
//      width: 50%
//      line-height: 30px
//
//      border-radius: 3px
//      &.active, &:hover
//        color: #fff
//        background-color: #399cf9
//        &:after
//          display: none