section.home.wigd {

  .separator {
    margin-top: 30px;
  }

  .cf {
    @include clearfix();
  }

  .quote {
    position: relative;
    padding: 0 30px 0 30px;
    font-size: $font-size-bigger;
    opacity: 0.8;
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.5em;

    &:before {
      content: '\201C';
      font-size: 50px;
      line-height: 0.1em;
      opacity: 0.4;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:after {
      content: '\201D';
      font-size: 50px;
      line-height: 0.1em;
      opacity: 0.4;
      position: absolute;
      right: 0;
      bottom: 0;
    }

  }

  .icons {

    margin: 43px 10px 40px 10px;

    .icon {
      width: 60px;
      text-align: center;
      float: left;
    }

    .m-right {
      margin-right: calc((100% - 240px) / 3);
    }
  }

  .c-6-right {
    text-align: right;
    position: relative;
    img {
      max-width: 100%;
      height: auto;
      margin-right: -15px;
      display: inline-block;
    }
  }

  .wigd__play{
    width: 80px;
    height: 80px;
    background: rgba(0,0,0,0.3);
    display: inline-block;
    outline: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-left: 4%;
    &:before{
      content: '';
      display: block;
      border: 15px solid transparent;
      border-left: 20px solid #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin-left: 11px;
    }
  }


  .video-btn {
    border: 1px solid #389cf9;
    color: #389cf9;
    @include border-radius(2);
    padding: 10px 20px 10px 36px;
    font-size: 16px;
    font-weight: 600;
    position: relative;

    &:before{
      content: '';
      display: block;
      border: 6px solid transparent;
      border-left: 6px solid #389cf9;
      position: absolute;
      top: 12px;
      left: 20px;
    }

  }

}

@media(max-width: 780px){
section.home.wigd{
  .icons{
    margin-right: 0;
    margin-left: 0;
  }
  .icons__item{
    margin: 0 3px;
    &:after{
      display: none;
    }
  }
}
  
}
