

.box.unsubscribe {

  //background: yellow;

  .email-address {
    font-size: 20px;
    font-weight: 600;
    color: #57585c;
    margin: 0 0 40px 0;
  }

  p {
    font-size: 18px;
  }

  form {
    margin-top: 40px;

    .or {

    }
  }

}