section.header.in-action {

  block {
    height: 260px;//auto;
    width: 100%;
    display: table;
  }

  a.ia-back-list {
    //font-size: 32px;
    color: $color-blue;
    font-weight: 200;
  }

  .left {
    display: table-cell;
    width: 40%;
    vertical-align: middle;
    text-align: center;

    img {
      //max-height: 240px;
      max-width: 420px;
      width: 100%;
    }
  }

  .right {
    display: table-cell;
    vertical-align: middle;
    //width: calc(100% - 500px);
    width: 60%;
    box-sizing: border-box;
    //padding: 0 0 0 50px;
  }

  h1 {
    text-align: left;
  }

}

section.ia-block-desc {



  block {

    .column-left {

      float: left;
      width: 40%;

      .count {
        padding: 0 65px 0 0;
        text-align: left;
      }
    }
    .column-right {

      font-size: $font-size-bigger;
      line-height: 26px;

      color: #333333;
      font-weight: normal;
      float: left;
      width: 60%;

      li {
        margin: 0 0 4px 0;
      }

      p {
        margin: 20px 0 20px 0;
        &.sub-descr {
          padding-top: 7px;
          font-size: 26px;
        }
      }

    }

  }

}

section.ia-block-hh {

  line-height: 28px;
  margin: 0 0 40px 0;
  background-color: #fafcff;
  //padding: 60px 0 60px 0;


  .column-right {

    float: left;
    width: 60%;

    .summary {
      position: relative;
      margin: 0 40px 0 80px;
      color: #1672a2;
      font-size: $font-size-even-bigger;
      line-height: 28px;

      quotes: "\201C" "\201D" "\201C" "\201D";

      &::before {
        content: open-quote;
        font-size: 130px;
        color: #e0e6f0;
        position: absolute;
        top: 27px;
        left: -76px;

      }

      &::after {
        content: close-quote;
        font-size: 130px;
        color: #e0e6f0;
        position: absolute;
        bottom: -50px;
        right: -30px;
      }
    }


  }

  .column-left {
    float: left;
    width: 40%;

    .count {
      padding: 0 65px 0 0;
      text-align: left;
    }
  }


}

section.in-action-section {

  block {
    padding-top: 40px;
    padding-bottom: 40px;

    &.border {
      border-bottom: 1px solid $color-border;
    }
  }

  .ia-section-title {

    display: inline-block;
    color: white;
    margin: 26px 0 0 0;
    height: 56px;
    line-height: 1em;
    min-width: 280px;
    font-weight: 200;
    text-align: center;

    @include border-radius(5);


    &.how-helps {
      margin: 0 0 0 0;
    }


    &.h2 {
      font-size: 32px;
      padding: 14px 22px 0 18px;
    }
    &.h3 {
      font-size: 28px;
      padding: 16px 22px 6px 18px;
    }
    &.h4 {
      font-size: 24px;
      padding: 22px 16px 0 16px;
    }

    &.h2.red, &.h3.red, &.h4.red {
      background-color: #f74e67;
    }
    &.h2.purple, &.h3.purple, &.h4.purple{
      background-color: #7253e2;
    }

    &.h2.yellow, &.h3.yellow, &.h4.yellow{
      background-color: #ffc257;
    }

    &.h2.blue, &.h3.blue {
      background-color: #32b0e5;
    }

  }

}

section.ia-separator {
  block {
    border-bottom: 1px solid $color-border;
  }
}

section.ia-block {

  block {

    overflow: hidden;

    .column-left {
      display: table-cell;
      //vertical-align: middle;
      vertical-align: top;
      padding: 50px 0 0 0;
      width: 40%;

      .count {
        padding: 0 40px 0 0;
      }

      h2 {
        margin: 18px 0;
      }

      p {
        font-size: $font-size-bigger;
        line-height: 28px;
        font-weight: normal;
      }

    }
    .column-right {
      width: 60%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      .hh-img {
        width: 100%;
        max-width: 682px;
      }

      .ia-screen {
        background-size: 100%;
        margin: 0 auto 0 auto;
        background-repeat: no-repeat;
      }
    }

  }
}

@media only screen and (max-width: 780px) {

  section.header.in-action {

    block {
      height: 260px;//auto;
      width: 100%;
      display: table;
    }

    .left {
      display: none;
    }

    .right {
      text-align: center;
      width: 100%;
      h1 {
        text-align: center;
      }
    }

  }

  section.ia-block-desc {

    block {

      .column-left {
        width: 100%;
      }
      .column-right {
        width: 100%;
      }

    }

  }

  section.ia-block-hh {

    .column-right {
      width: 100%;
    }

    .column-left {
      width: 100%;
      .count {
        margin-bottom: 40px;
      }
    }


  }

  section.ia-block {

    block {

      .column-left {
        display: block;
        width: 100%;
        padding: 0 0 0 0;
      }
      .column-right {
        width: 100%;
        display: block;
      }

    }
  }

  section.in-action-section {

    block {
      padding-top: 20px;
      padding-bottom: 20px;
    }

  }
}

