section.ia-list {

  font-size: $font-size-bigger;

  &.with-bg {

    block {
      border-bottom: none;
    }

    .left {
      img {
        display: none;
      }
    }

  }



  block {
    cursor: pointer;
    border-bottom: 1px solid $color-border;
    height: 340px;
    width: 100%;
    display: table;
  }




  .left {
    display: table-cell;
    //width: 500px;
    width: 42%;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;

    img {
      max-width: 420px;
      width: 100%;
    }
  }

  .right {
    display: table-cell;
    vertical-align: middle;
    //width: calc(100% - 500px);
    width: 58%;
    box-sizing: border-box;
    padding: 0 0 0 40px;
  }

  h2 {
    font-size: 32px;
    color: #3c3c3c;
    margin: 0 0 16px 0;
  }

  .tags {

    div {

      display: inline-block;
      height: 28px;
      box-sizing: border-box;
      font-size: $font-size-normal;
      line-height: 22px;
      color: #ffffff;
      padding: 4px 12px 0 12px;
      margin: 0 12px 0 0;
      @include border-radius(20);

      &.planning {
        background-color: #5e96f5;
      }
      &.accountability {
        background-color: #f65e74;
      }
      &.collaboration {
        background-color: #f8b541;
      }
      &.productivity {
        background-color: #9ccc65;
      }
      &.time-management {
        background-color: #7469e8;
      }
      &.behaviour {
        background-color: #bb68c7;
      }
      &.organization {
        background-color: #fa764d;
      }
      &.motivation {
        background-color: #4bc1e3;
      }
      &.gamification {
        background-color: #fad34d;
      }

    }
  }

  p {
    margin: 26px 0 16px 0;
    line-height: 1.6em;

  }

  a.read-more {
    color: $color-green;
    text-decoration: underline;
  }





  //&.planning {
  //  background-color: #3093f9;
  //}
  //&.accountability {
  //  background-color: #e63f57;
  //}
  //&.collaboration {
  //  background-color: #f0ae22; // 2abc52;
  //}
  //&.productivity {
  //  background-color: #31cb7d;
  //}
  //&.time-management {
  //  background-color: #5346d6;
  //}
  //&.behaviour {
  //  background-color: #b543df;
  //}
  //&.organization {
  //  background-color: #f86a3e;
  //}
  //&.motivation {
  //  background-color: #4cd0e1;
  //}
  //&.gamification {
  //  background-color: #fdd836;
  //}

}




@media only screen and (max-width: 780px) {
  section.ia-list {

    block {
      display: block;
      height: auto;
      &:after {
        @include clearfix();
        content: "";
      }
    }


    .left {
      display: block;
      width: 100%;
      img {
        max-width: 420px;
        width: 100%;
      }
    }

    .right {
      display: block;
      width: 100%;
      padding: 40px 0 40px 0;
    }

  }
}