section.contact {

  block {
    //display: table;
    //width: 100%;
    border-bottom: 1px solid $color-border;

    &.no-border {
      border-bottom: none;
    }
  }

  .container {
    width: 100%;
    max-width: 1000px;
    display: table;
    margin: 0 auto;
  }

  .left, .right {
    display: table-cell;
    //width: 50%;
    text-align: center;
    vertical-align: middle;
    height: 200px;
  }

  .left {
    width: 40%;
  }

  .right {

    width: 60%;

    .comment {
      font-size: $font-size-bigger;
      margin: 0 0 20px 0;
      opacity: 0.8;
    }

    .email {
      a {
        font-size: 22px;//$font-size-even-bigger;
        color: $color-green;
        text-decoration: underline;
      }
    }

    &.mailing {
      font-size: $font-size-even-bigger;
      img {
        vertical-align: middle;
        margin: -4px 8px 0 0;
      }
    }
  }

  h2 {
    padding: 10px 25px;
    color: white;
    @include border-radius(4);
    display: inline-block;
    font-weight: 200;

    &.sales {
      background-color: #f15770;
    }

    &.general {
      background-color: #5e96f5;
    }

    &.mailing {
      background-color: #7965df;
    }
  }




}



@media only screen and (max-width: 780px) {
  section.contact {

    .container {
      display: block;
    }

    .left, .right {
      display: block;
      height: auto;
    }

    .left {
      width: 100%;
      padding: 40px;
    }

    .right {

      width: 100%;
      padding: 0 40px 40px 40px ;

    }

  }
}