section.tos {
  .container {

    max-width: 800px;
    margin: 50px auto 50px auto;

    font-size: $font-size-bigger;
    line-height: 1.4em;

    h2 {
      margin: 1em 0;
      font-size: 26px;
    }

  }
}