section.news-list {

  font-size: $font-size-bigger;
  //padding: 50px 0 50px 0;

  block {
    //cursor: pointer;
    border-bottom: 1px solid $color-border;
    //height: 340px;
    width: 100%;
    display: table;
  }


  .left {
    display: table-cell;
    //width: 500px;
    width: 55%;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    padding: 50px 0 50px 0;

  }

  .right {
    display: table-cell;
    vertical-align: middle;
    //width: calc(100% - 500px);
    width: 45%;
    box-sizing: border-box;
    padding: 0 0 0 40px;
  }

  ul {

    list-style: none;
    padding: 0 0 0 0;

    li:before {
      content: "-";
      text-indent: -5px;
      position: absolute;
      top: 0;
      left: 0;
    }

    li {
      position: relative;
      line-height: 26px;
      //text-indent: -1px;
      padding: 0 0 5px 10px;
    }
  }

  h2 {
    font-size: 32px;
    color: #3c3c3c;
    margin: 0 0 16px 0;
  }

  .tags {

    div {

      display: inline-block;
      height: 28px;
      box-sizing: border-box;
      font-size: $font-size-normal;
      line-height: 22px;
      color: #ffffff;
      padding: 4px 12px 0 12px;
      margin: 0 12px 0 0;
      @include border-radius(20);

    }
  }

  p {
    margin: 26px 0 16px 0;
    line-height: 1.6em;

  }

  a.read-more {
    color: $color-green;
    text-decoration: underline;

    &.list {
      display: block;
      margin: 10px 0 0 10px;
    }

  }




}




@media only screen and (max-width: 780px) {
  section.news-list {

    block {
      display: block;
      height: auto;
      &:after {
        @include clearfix();
        content: "";
      }
    }

    .left {
      display: block;
      width: 100%;
      padding: 50px 0 0 0;
      //img {
      //  width: 100%;
      //}
    }

    .right {
      display: block;
      width: 100%;
      padding: 40px 0 40px 0;
    }

  }
}