section.news-block {

  &.last {
    block {
      border-bottom: none;
    }
  }


  block {

    padding: 50px 0 50px;
    text-align: center;
    border-bottom: 1px solid $color-border;

    h2 {
      margin: 0 0 40px 0;
    }

    .desc {
      line-height: 1.5em;
      font-size: $font-size-even-bigger;
      font-weight: 200;
      max-width: 800px;
      margin: 0 auto 40px auto;
    }

    ul.more {
      line-height: 1.5em;
      font-size: $font-size-bigger;
      font-weight: 200;
      max-width: 600px;
      margin: 0 auto 40px auto;
      padding: 0;

      li {
        list-style: none;
        text-align: left;
        padding: 0 0 0 28px;
        position: relative;
        margin: 0 0 10px 0;

        .gd-icon-add {
          position: absolute;
          top: 0;
          left: 0;
          color: #cacaca;
          font-size: 12px;
          margin: 0 10px 0 0 ;
        }
      }

    }

    .snapshot {
      &.uni {
        max-width: 1200px;
      }
      &.web {
        display: inline-block;
        max-width: 1200px;
      }
      &.mobile {
        display: none;
        max-width: 768px;
      }
    }

  }

}



@media only screen and (max-width: 768px) {
  section.news-block {
    block {
      .snapshot {
        &.web {
          display: none;
        }
        &.mobile {
          display: inline-block;
        }
      }

    }

  }
}