#menu-mobile {

  &.hidden {
    display: none;
  }

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  .top {
    height: 75px;
    position: relative;
    background-color: white;

    .logo {
      position: absolute;
      left: 50%;
      margin-left: -50px;
      top: 18px;
      background-image: url("../svg/logo-full.svg");
      //background-image: url("../img/common/logo-mobile.png");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 110px;
      height: 43px;
    }


    .close {
      float: left;
      img {
        margin: 28px 0 0 20px;
      }
    }

    .login {
      float: right;
      margin: 28px 20px 0 0;
    }

  }

  .main {
    background-color: $color-footer;
    height: calc(100% - 75px);

    .link {
      font-size: 18px;
      height: 58px;
      width: 100%;
      background-color: $color-footer;
      padding: 0 0 0 20px;
      color: white;
      line-height: 58px;
      display: block;
    }

    .separator {
      height: 1px;
      box-sizing: border-box;
      background-color: #1b1b1b;
      width: 100%;
    }

  }


}