nav {

  mobile {

    display: none;
    padding: 28px 20px 0 20px;
    position: relative;

    .gd-logo {
      position: absolute;
      left: 50%;
      margin-left: -50px;
      top: 18px;

      //background-image: url("../img/common/logo-mobile.png");
      background-image: url("../svg/logo-full.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 110px;
      height: 43px;
    }

    .menu {
      float: left;
    }

    .login {
      float: right;
    }

  }
}





