@import "web";
@import "mobile";
@import "mobile-menu";

nav {
  width: 100%;
  height: 95px;
}

@media only screen and (max-width: 790px) {
  nav {

    height: 75px;

    mobile {
      display: block;
    }

    block {
      display: none !important;
    }

  }
}
//@media only screen and (max-width: 420px) {
//  nav {
//    mobile {
//      ul {
//        text-align: justify;
//        li {
//          padding: 0;
//        }
//      }
//    }
//  }
//}
