nav {

  block.default {
    display: block;
    max-width: $max-width;
    margin: 0 auto 0 auto;

    .logo {
      margin: 24px 0 0 0;
      float: left;
      @include size(131,51);
    }

    .menu {
      margin: 15px 0 0 49px;
      float: left;
      font-size: $font-size-bigger;
      line-height: 72px;

      a {
        margin: 0 40px 0 0;
      }
    }

    .actions {

      margin: 30px 0 0 0;
      float: right;

      a {
        @include size(80,36);
        @include border-radius(3);
        display: inline-block;
        text-align: center;
        padding: 10px;

        &.login {
          border: 1px solid;
          margin: 0 16px 0 0;
        }

        &.signup {
          background-color: $color-green;
          color: white;
        }

        &.login-enter {
          width: 120px;
          background-color: $color-green;
          color: white;

        }

      }


    }

  }

}