$font-famyly: 'Proxima Nova', Arial;


$font-color-default: #3a3b3c;

$font-size-normal: 14px;
$font-size-middle: 15px;
$font-size-bigger: 16px;
$font-size-even-bigger: 18px;

$font-size-h1: 42px;
$font-size-h2: 32px;


$color-green: #06c026;
$color-blue: #399cf9;
$color-gray: #f6f7f7;
//$color-gray-dark: #e2e5e7;
$color-border: #d6e0e0;
$color-footer: #212e35;


$min-width: 320px;
$max-width: 1110px;

@import url(../fonts/fonts.css);
@import url(../fonts/ico.css);

@import "common/mixin";
@import "common/normalize";
@import "common/global";
@import "common/forms";
@import "common/layout";
@import "common/slick";

@import "common/navigation/navigation";
@import "common/footer";

@import "home/home";
@import "pricing/pricing";
@import "auth/auth";
@import "product/product";
@import "in_action/in_action_list";
@import "in_action/in_action_view";

@import "news/news-list";
@import "news/news-view";

@import "support/support";
@import "other/contact";
@import "other/tos";

@import "slack/slack";

