footer {

  height: 260px;
  background-color: $color-footer;

  font-size: 15px;




  block {
    display: block;
    max-width: $max-width;
    margin: 0 auto 0 auto;
  }


  .copyright {
    font-size: 12px;
    color: #AFAFAF;
    text-align: right; //center;
    margin: 40px 0 0 0;
  }



  form {

    input {
      width: 250px;
    }

    .submit {
      @include size(80,36);
      @include border-radius(3);
      display: inline-block;
      text-align: center;
      padding: 10px;
      background-color: $color-blue;
      color: white;
      margin: 0 0 0 15px;
    }

  }



  .c1, .c2, .c3 {
    float: left;
  }

  .c1 {
    width: 20%;
    text-align: right;

    img {
      margin: 90px 60px 0 0;
    }
  }

  .c2 {
    width: 45%;

    .col1, .col2, .col3 {
      width: 33%;
      float: left;
      padding: 70px 0 0 0;

      a {
        display: block;
        color: white;
      }
    }

    .col1, .col2 {
      a {
        margin: 0 0 15px 0;
      }
    }

    .col3 {
      a {
        margin: 0 0 18px 0;
      }

      img {
        vertical-align: middle;
        margin: -3px 10px 0 0;
      }
    }
  }

  .c3 {
    width: auto;
    padding: 50px 0 0 0;
    float: right;
    // display: inline-block

    .msg {
      color: white;
      line-height: 36px;
      padding: 0 0 0 16px;
      font-size: 16px;
    }

    .mobile-apps {

      margin: 30px 0 0 0;

      .mob-ios, .mob-android {
        height: 40px;
      }

      .mob-ios {
        margin: 0 15px 0 0;

      }

    }

  }

}

@media only screen and (max-width: 1050px) {
  footer {

    .c1 {
      width: 30%;
    }

    .c2 {
      width: 70%;
    }

    .c3 {
      display: none;
    }

  }
}

@media only screen and (max-width: 700px) {
  footer {

    height: auto;

    .c1 {
      display: none;
    }

    .c2 {
      width: 100%;
      //padding-left: 15px;

      .col1 {
        width: 50%;
        padding: 30px 40px 0 40px;
      }
      .col3 {
        width: 50%;
        padding: 30px 40px 0 40px;
      }
      .col2 {
        width: 50%;
        padding: 30px 40px 0 40px;
      }


    }

  }
}