input, textarea {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  box-sizing: border-box;
}



input {
  border: none;
  background-color: transparent;
  height: 38px;
  font-weight: normal;

  //color: #2d3b43;
  &::-webkit-input-placeholder {
    color: #2d3b43;
    opacity: 0.8;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }



  &.white {
    background-color: white;
    @include border-radius(5);
    padding: 0 20px;
    color: #646669;
    &::placeholder{
      color: #646669;
    }
  }

}



form{
  button {
  background: $color-blue;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  color: #ffffff;
  font-size: 16px;
  padding: 4px 25px 0 25px;
  height: 38px;
}
}



.button-blue {
  background: $color-blue;
  border-radius: 2px;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 25px 13px;
}

.gd-button-solid {
  font-size: 16px;
  font-weight: normal;
  color: #3093f9;
  border: 2px solid #3093f9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 13px 30px 11px 25px;
  display: inline-block;
  text-align: center;
}

//.input {
//  border-bottom: 2px solid #dedede;
//  input {
//    padding: 14px 20px;
//    font-weight: normal;
//    font-size: 16px;
//    color: #323232;
//  }
//}