section {
  width: 100%;
  position: relative;

  &.gray {
    background-color: $color-gray;
  }

  block {
    display: block;
    max-width: $max-width;
    margin: 0 auto 0 auto;
    @include clearfix();

  }

}

section.header {


  &.back {
    block {
      h1, div.back-link {
        display: inline-block;
        vertical-align: middle;
      }

      .back-link {
        font-size: $font-size-h2;
        color: $color-blue;
        font-weight: 200;

        a {
          color: $color-blue;
          text-decoration: none;
        }
        span {
          margin: 0 10px 0 5px;
        }

      }

    }

  }

  block {

    //position: relative;
    // display: table;
    width: 100%;



    .container {
      //@include centerer();
      // display: table-cell;
      text-align: center;
      vertical-align: middle;
      padding-top: 72px;
      padding-bottom: 10px
    }

    h1 {
      text-align: center;
      color: #383a3b;
      font-size: 40px;
      letter-spacing: -1.5px;
      font-weight: 600;
    }

    .l2 {
      margin: 15px 0 0 0;
      font-weight: 200;
      text-align: center;
      color: #3e4346;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.3px;
    }

  }
}

section.sub-nav {

  block {

    //height: 90px;
    font-size: $font-size-bigger;
    padding: 30px 0 30px 0;

    span {
      //color: $color-border;
      opacity: 0.5;
      margin: 0 30px;
    }

    a {
      border-bottom: 1px dashed;
      line-height: 30px;
    }

    .container {
      text-align: center;
      //@include centerer();
      //@include vertical-align();
    }

  }
}

@media only screen and (max-width: 780px) {
  section.sub-nav {

    block {

      span {
        margin: 0 10px;
      }

      .container {
        text-align: left;
      }

    }
  }
}

.container-800 {
  max-width: 800px;
}

.snapshot {
  width: 100%;
}



@media only screen and (max-width: 1240px) {
  section, nav {
    block {
      margin-left: 20px !important;
      margin-right: 20px !important;
      width: calc(100% - 40px) !important;
    }
  }

  section.header {
    block {
      margin-left: 20px !important;
      margin-right: 20px !important;
      width: calc(100% - 40px) !important;
    }
  }

  img.can-shrink {
    width: 100%;
  }
}