html {
  font-family: $font-famyly;
  height: 100%;
}

body {
  height: 100%;

  font-size: $font-size-normal;
  font-weight: normal;
  //letter-spacing: 0em;
  background-color: #f9fafa;
  color: $font-color-default;
  min-width: $min-width;
}

a {
  text-decoration: none;
  color: $font-color-default;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

.cf {
  //clear: both;
  @include clearfix();
}


div {
  box-sizing: border-box;
}

h1 {
  font-size: 42px;
  text-transform: capitalize;
  font-weight: 200;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 34px;
  font-weight: 600;
}
.subtitle{
  font-size: 19px;
  line-height: 1.6;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 780px) {
  .subtitle{
    font-size: 18px;
    line-height: 1.4;
  }
}
