.auth-page {

  font-weight: 300;

  background-color: white;
  display: table;
  width: 100%;
  height: 100%;

  @import "../email_marketing/unsubscribe";


  .hidden {
    display: none;
  }

  .gd-logo {
    text-align: center;
    position: absolute;
    top: 26px;
    left: 72px;
    a {
      img {
        width: 131px;
      }
    }
  }

  .center-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .box {
    max-width: 800px;
    margin: 0 auto 100px auto;
  }

  h1 {
    font-size: 38px;
    font-weight: 200;
    color: #57585c;
    margin: 0 0 20px 0;
  }

  h2 {
    font-size: 28px;
    font-weight: 200;
    color: #57585c;
    margin: 0 0 30px 0;
  }

  .confirmation {

    padding: 0 0 40px 0;

    .ico-ok {
      margin: 0 0 20px 0;
    }

    p {
      font-size: 16px;
      margin: 0 0 30px 0;

      &.small {
        max-width: 400px;
        font-size: 14px;
        margin: 0 auto 30px auto;
      }

      span.email {
        color: #3093f9;
        font-weight: normal;
      }
    }
  }

  .ico-error-big {
    margin: 0 0 20px 0;
  }

  .form-errors {
    min-height: 40px;

    .errors.bigger {
      font-size: 18px;
    }

    padding: 0 0 25px 0;
    div {
      margin: 10px 0 0 0;
    }
    color: red;
  }

  .block-email {
    .email {
      border: 1px solid #ccc;
      @include border-radius(20);
      background-color: #f5f5f5;
      padding: 4px 10px 4px 38px;

      background-image: url("../img/auth/ico-email.png");
      background-repeat: no-repeat;
      background-position: 11px 4px;


    }
  }


  button.login {
    background: $color-blue;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    font-size: 16px;
    padding: 4px 25px 0 25px;
    height: 38px;
  }

  form {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;

    .line {

      margin: 0 0 50px 0;
      font-size: 13px;

      .remember {
        float: left;
        line-height: 42px;
      }

      .forgot {
        float: right;
        border-bottom: 1px dashed;
        margin: 15px 0 0 0;
      }
    }

    .line-actions {

      .login {
        float: left;
        //width: 50%
        width: 210px;
      }

      .or {
        float: left;
        width: 55px;
        text-align: center;
        line-height: 38px;
        color: #8f9196;
      }

      .g-signin2 {
        float: left;

        .abcRioButton.abcRioButtonLightBlue {
          box-shadow: none !important;
          border: 1px solid #aeaeae; //$font-color-default;
        }
      }

      a {
        float: left;
        width: 35%;
        display: block;
        border: 1px solid #aeaeae;
        border-radius: 2px;
        box-sizing: border-box;
        line-height: 38px;
      }


    }

    .line-action {
      text-align: center;
    }

    input[type="checkbox"]
    {
      display: none;
    }

    input[type="checkbox"] + label span {
      display:inline-block;
      width:18px;
      height:18px;
      margin:-1px 18px 0 0;
      vertical-align:middle;
      background:url("../img/auth/checkbox.png") left top no-repeat;
      cursor:pointer;
    }
    input[type="checkbox"]:checked + label span {
      background:url("../img/auth/checkbox.png") -18px top no-repeat;
    }


    input[type=text], input[type=password] {
      font-size: 16px;
      height: 42px;
      line-height: 42px;
      width: 100%;
      border-bottom: 1px solid #e2e2e2;
      padding: 0 20px 0 35px;
      margin: 0 0 15px 0;
      font-weight: 200;

      &:focus {
        border-bottom: 1px solid #3093f9;
      }


      &.email {
        background-image: url("../img/auth/ico-email.png");
        background-repeat: no-repeat;
        background-position: 0 11px;
      }

      &.password {
        background-image: url("../img/auth/ico-password.png");
        background-repeat: no-repeat;
        background-position: 0 11px;
      }

      &.name {
        background-image: url("../img/auth/ico-user.png");
        background-repeat: no-repeat;
        background-position: 0 11px;
      }

    }


  }

  .box-join {

    form {
      max-width: 600px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }

    .company-name, .from-user-name {
      font-weight: 600;
    }
  }

  .box-ivitation-signup {

    margin: 0 auto 0 auto;

    .form-errors {
      padding: 10px 0 25px 0;

      div {
        margin: 10px 0 0 0;
      }
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }

    .company-name, .from-user-name {
      font-weight: 600;
    }

    form {

      button {
        min-width: 160px;
      }
    }



  }


  .select-timezone {
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    border-bottom: 1px solid #e2e2e2;
    padding: 0 20px 0 35px;
    margin: 0 0 15px 0;
    font-weight: 200;
    outline: none;
    @include border-radius(0);
    -webkit-appearance: none;

    background-image: url("../img/auth/ico-timezone.png");
    background-repeat: no-repeat;
    background-position: 0 11px;


    &:focus {
      border-bottom: 1px solid #3093f9;
    }
  }


  .dont-have-account {
    margin: 60px 0 0 0;

    font-size: $font-size-bigger;

    a {
      color: $color-blue;
      font-weight: bold;
      text-decoration: underline;
    }
  }

}


@media only screen and (max-width: 767px) {
  .auth-page {


    .center-cell {
      padding: 100px 0 0 0;
    }

    .box {
      margin: 0 20px 40px 20px;
    }

    .gd-logo {

      top: 15px;
      left: 15px;


      a img {
        width: 100px;
      }
    }


    h1 {
      font-size: 26px;
      margin: 0 0 20px 0;
    }

    h2 {
      font-size: 18px;
      margin: 0 0 30px 0;
    }

    form {

      .line-actions {

        .login {
          float: none;
          width: 80%;
        }


        .g-signin2 {
          float: none;
          display: inline-block;
          width: 80% !important;

          .abcRioButton.abcRioButtonLightBlue {
            width: 100% !important;
          }
        }

        .or {
          float: none;
          width: 80%;
          text-align: center;
          line-height: 38px;
          color: #8f9196;
          display: inline-block;
        }

        a {
          float: none;
          width: 80%;
          display: inline-block;
          border: 1px solid #aeaeae;
          border-radius: 2px;
          box-sizing: border-box;
          line-height: 38px;
        }


      }
    }


  }

}