section.product.action-required {

  block.eliminate {
    .left.mobile {
      display: none;
    }
  }

  block.eliminate {
    .left {
      display: block;
    }
  }

  block.ar1 {

    text-align: center;


    .container {
      max-width: 800px;
      margin: 0 auto;
    }

    h1 {
      margin: 20px 0 30px 0;
    }

    .timeline {
      margin: 40px 0 0 0;
    }

  }


  block.clear, block.eliminate, block.accountability {

    padding: 30px 0 30px 0;

    .column {
      .container {
      }
    }

  }

  block.clear {
    padding: 30px 0 50px 0;
  }

  block.accountability {
    padding: 50px 0 30px 0;
  }



}

@media only screen and (max-width: 780px) {
  section.product.action-required {

    block.eliminate {
      .left.mobile {
        display: block;
      }
    }


    block.eliminate {
      .left {
        display: none;
      }
    }

  }
}