section.product.bi {
  //overflow: hidden;
  block {

    text-align: center;

    .ico {
      margin: 0 0 20px 0;
    }

    p {
      opacity: 0.8;
      line-height: 1.5em;
      font-size: $font-size-even-bigger;
      margin: 30px 0 50px 0;
    }


    .screens {
      margin: 40px 0 0 0;
    }

  }
}