section.product.integration {

  background-color: #f9815b;

  block {
    text-align: center;
    color: white;
  }

  h1 {
    margin: 30px 0 50px 0;
  }

  p.desc {
    margin: 50px auto 20px auto;
    max-width: 600px;
  }
}

