section.product.more-fetatures {
  block {
    text-align: center;
    display: block;
  }

  h1 {
    margin: 30px 0 0 0;
  }

  h5 {
    font-size: 22px;
    margin: 20px 0 0 0;
    padding-bottom: 2px;
    font-weight: 200;
  }

  .img-figure-book {
    .img-mac-boock {
      background-image: url("../img/product/aple-book.png");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 900px;
      height: 468px;
      margin: -430px 270px 0px 0px;
      float: right;
    }
  }

  .count {
    text-align: center;


    .items-fetatures {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: flex-end;
      padding: 0 30px;
      .item-fetature {
        width: (100%/4);
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 62px;
        .count {
          max-width: 275px;
          margin: 0 auto 0 auto;
          padding: 0 15px;
          span {
            font-size: 28px;


            &.gd-icon-tasks {
              color: #4e74ee;
            }
            &.gd-icon-projects {
              color: #f9623e;
            }
            &.gd-icon-view-tiles {
              color: #49bd4d;
            }

            &.gd-icon-deadline {
              color: #9376d1;
            }
            &.gd-icon-status-board {
              color: #25cf75;
            }
            &.gd-icon-my-work {
              color: #5d4dda;
            }
            &.gd-icon-calendar {
              color: #df2e47;
            }
            &.gd-icon-report {
              color: #1fa0ed;
            }
            &.gd-icon-notification {
              color: #c757b3;
            }

            &.gd-icon-search {
              color: #25cf75;
            }
            &.gd-icon-time {
              color: #4e74ee;
            }
            &.gd-icon-activity {
              color: #f9623e;
            }

          }

          p {
            font-size: 15px;
            line-height: 24px;
            color: #353535;
            font-weight: normal;
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 780px) {
  section.product.more-fetatures {

    .img-figure-book {
      display: none;
    }

    .count {
      .items-fetatures {
        padding: 0 0 0 0;
        .item-fetature {
          width: (100%/2);
          margin-top: 42px;
          .count {
            margin: 0 auto 0 auto;
            padding: 0 5px;

          }
        }
      }
    }

  }
}