section.product {

  font-size: $font-size-bigger;

  block {
    padding: 50px 0 50px 0;
    display: table;
    width: 100%;
  }

  .left {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .right {
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle;
  }

  .desc {
    line-height: 1.5em;
    font-size: $font-size-even-bigger;
    font-weight: 200;
  }

}

@media only screen and (max-width: 780px) {
  section.product {

    block {
      //padding: 50px 0 50px 0;
      display: block;
    }

    .left {
      width: 100%;
      display: block;
    }

    .right {
      display: block;
      width: 100%;
    }

  }
}



@import "transparency";
@import "reports";
@import "bi";
@import "time-tracking";
@import "action-required";
@import "security";
@import "integration";
@import "more-fetatures";