section.reports {
  overflow: hidden;


  .left {
    .container {
      text-align: center;
      max-width: 500px;
    }

    .desc {
      opacity: 0.8;
    }

    .gd-icon-report {
      display: block;
      font-size: 59px;
      color: #8568c7;
      padding-bottom: 14px;
    }


  }
  .right {

    img {
      margin: 0 0 -55px 0;
    }

  }
}

@media only screen and (max-width: 780px) {
  section.reports {
    .left {
      .container {
        max-width: 100%;
      }
    }
  }
}


section.reports-more {
  background-color: #8568c7;
  block {

    &:after {
      content: '';
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 22px solid #8568c7;
      position: absolute;
      left: 25%;
      top: -22px;
    }

    .right {
      color: white;
      .container {
        max-width: 450px;
        font-weight: 200;
        margin: 0 auto;
      }

      img {
        margin: 20px 0 0 0;
      }
    }
  }
}
