section.product.security {

  block {
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 30px 10px 0 10px;
    text-align: left;

    li {
      background-image: url("../img/common/li-arr.png");
      background-size: 17px 7px;
      background-position: 1px 9px;
      background-repeat: no-repeat;
      padding-left: 40px;
      position: relative;
      line-height: 26px;
      margin-bottom: 7px;
      font-weight: 200;
    }
  }

  h1 {
    margin: 0 0 50px 0;
  }

  .column {
    width: (100%/3);
    float: left;
    .container {


      max-width: 305px;
      margin: 0 auto;

      .title {
        font-size: 24px;
        color: white;
        padding: 10px 0 7px 0;
        font-weight: 200;

        &.encryption {
          background-color: #00c3e6;
        }
        &.access-control {
          background-color: #4170e7;
        }
        &.data-centers {
          background-color: #00b46e;
        }
      }

    }

    span {
      background-repeat: no-repeat;
      background-size: 100%;
      width: 88px;
      height: 94px;
      margin: 0 auto 47px auto;
      display: block;
      &.img-encryption {
        background-image: url("../img/product/security-encryption.png");
      }
      &.img-access-control {
        background-image: url("../img/product/security-access-control.png");
      }
      &.img-data-centers {
        background-image: url("../img/product/security-data-centers.png");
      }
    }
  }

}

@media only screen and (max-width: 780px) {
  section.product.security {

    block {
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 30px 10px 0 10px;
      text-align: left;

      li {
        background-image: url("../img/common/li-arr.png");
        background-size: 17px 7px;
        background-position: 1px 9px;
        background-repeat: no-repeat;
        padding-left: 40px;
        position: relative;
        line-height: 26px;
        margin-bottom: 7px;
        font-weight: 200;
      }
    }

    h1 {
      margin: 0 0 50px 0;
    }

    .column {
      width: 100%;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

    }

  }
}
