section.time-tracking {

  block {

    max-width: 800px;
    text-align: center;

  }

  .gd-icon-time {
    display: inline-block;
    font-size: 50px;
    color: $color-green;
  }

  h1 {
  }


  p {
    font-size: $font-size-even-bigger;
    opacity: 0.8;
    max-width: 600px;
    line-height: 1.5em;
    margin: 40px auto 20px auto;
    font-weight: 200;
  }


}



section.time-tracking-more {
  background-color: #6ebd48;


  block {
    position: relative;
    &:after {
      content: '';
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 22px solid #6ebd48;
      position: absolute;
      left: 50%;
      margin-left: -22px;
      top: -22px;
    }

  }


  .column {
    float: left;
    width: 50%;

    &.left {
      img.screen {
        margin: 30px 0 0 0;
      }
    }
    &.right {
      img.screen {
        margin: 30px 0 0 0;
      }
    }

    .ico {
      height: 55px;
      vertical-align: middle;
    }
  }

  h1, p.desc {
    color: white;
  }

  h1 {
    margin: 20px 0 30px 0;
  }

  .container {
    max-width: 460px;
    margin: 0 auto;
  }




}


@media only screen and (max-width: 780px) {
  section.time-tracking-more {


    .column {
      width: 100%;

      &.left {
        margin-bottom: 60px;
      }
    }




  }
}