section.poft {
  overflow: hidden;

  block {
    padding: 50px 0 50px 0;

    background: url("../img/product/transp-bg.jpg");

    height: 564px;
    box-sizing: border-box;

  }

  h2 {
    padding: 25px 0 25px 0;
  }


  .left {

    width: 60%;

    .container {
      text-align: center;
      max-width: 550px;
      margin: 0 auto 0 auto;
      background-color: white;
      padding: 30px 50px 20px 50px;
    }

    .desc {
      line-height: 1.5em;
      opacity: 0.8;
      font-size: $font-size-even-bigger;
    }
  }

  .right {
    width: 40%;

    img {
      display: none;
    }

  }

}

@media only screen and (max-width: 780px) {
  section.poft {

    block {
      background: none;
    }

    h2 {
      padding: 0 0 0 0;
    }

    .right {
      width: 100%;

      img {
        display: inline-block;
        padding: 25px 0 25px 0;
      }
    }

    .left {
      width: 100%;
      .container {
        max-width: 100%;//500px;
        padding: 0 0 0 0;
        img {
          padding: 0 0 25px 0;
        }
      }
    }
  }
}



section.poft-more {
  background-color: #5e96f5;

  block {
    &:after {
      content: '';
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 22px solid #5e96f5;
      position: absolute;
      right: 32%;
      //margin-left: -22px;
      top: -22px;
    }

    .container {

      text-align: center;
      color: white;
      p {
        max-width: 800px;
        margin: 0 auto 60px auto;
        line-height: 2em;
        font-weight: 200;
        font-size: $font-size-even-bigger;
      }

    }
  }
}

